<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.eoshos.core.provider.dao.HosUserMapper">

	<sql id="Base_Column_List">
		id,user_type,phone,user_name,password,card_id,real_name,pic_path1,pic_path2,pic_path3,
		real_stat,auth_time,apply_auth_time,eos_wallet,invite_user_id,invite_code,stat,oper_ip,notes,gmt_created,gmt_modified
	</sql>
	
	<sql id="Insert_Column_List">
		user_type,phone,user_name,password,card_id,real_name,pic_path1,pic_path2,pic_path3,
		real_stat,auth_time,eos_wallet,invite_user_id,invite_code,stat,oper_ip,gmt_created,gmt_modified
	</sql>

	<insert id="insert" parameterType="io.eoshos.core.api.bean.po.HosUser"
		useGeneratedKeys="true" keyProperty="id">
		insert into hos_user (<include refid="Insert_Column_List" />) values 
		(
		#{userType},#{phone},#{userName},#{password},#{cardId},#{realName},#{picPath1},
		#{picPath2},#{picPath3},#{realStat},#{authTime},#{eosWallet},#{inviteUserId},
		#{inviteCode},#{stat},#{operIp},unix_timestamp(sysdate()),unix_timestamp(sysdate())
		)
	</insert>

	<update id="update" parameterType="io.eoshos.core.api.bean.po.HosUser">
		update hos_user
		<set>
			gmt_modified = unix_timestamp(sysdate()),
			<if test="userType != null">
				user_type = #{userType},
			</if>
			<if test="phone != null">
				phone = #{phone},
			</if>
			<if test="userName != null">
				user_name = #{userName},
			</if>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="cardId != null">
				card_id = #{cardId},
			</if>
			<if test="realName != null">
				real_name = #{realName},
			</if>
			<if test="picPath1 != null">
				pic_path1 = #{picPath1},
			</if>
			<if test="picPath2 != null">
				pic_path2 = #{picPath2},
			</if>
			<if test="picPath3 != null">
				pic_path3 = #{picPath3},
			</if>
			<if test="realStat != null">
				real_stat = #{realStat},
			</if>
			<if test="authTime != null">
				auth_time = #{authTime},
			</if>
			<if test="applyAuthTime != null">
				apply_auth_time = #{applyAuthTime},
			</if>
			<if test="eosWallet != null">
				eos_wallet = #{eosWallet},
			</if>
			<if test="inviteUserId != null">
				invite_user_id = #{inviteUserId},
			</if>
			<if test="inviteCode != null">
				invite_code = #{inviteCode},
			</if>
			<if test="stat != null">
				stat = #{stat},
			</if>
			<if test="operIp != null">
				oper_ip = #{operIp},
			</if>
		</set>
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="phone != null">
			and phone = #{phone}
		</if>
		<if test="userName != null">
			and user_name = #{userName}
		</if>
		<if test="inviteCode != null">
			and invite_code = #{inviteCode}
		</if>
	</update>

	<delete id="delete" parameterType="io.eoshos.core.api.bean.dto.HosUserDto">
		delete from hos_user where
		phone = #{phone}
	</delete>

	<select id="getObject" parameterType="io.eoshos.core.api.bean.dto.HosUserDto"
		resultType="io.eoshos.core.api.bean.vo.HosUserVo">
		select
		<include refid="Base_Column_List" />
		from hos_user
		where 1=1
		<if test="phone != null">
			and phone = #{phone}
		</if>
		<if test="inviteCode != null">
			and invite_code = #{inviteCode}
		</if>		
		<if test="cardId != null">
			and card_id = #{cardId}
		</if>

	</select>

	<select id="listAllObjects" parameterType="io.eoshos.core.api.bean.dto.HosUserDto"
		resultType="io.eoshos.core.api.bean.vo.HosUserVo">
		select
		<include refid="Base_Column_List" />
		from hos_user
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="phone != null">
			and phone = #{phone}
		</if>
		order by id desc

	</select>

	<select id="listPagingObjects" parameterType="io.eoshos.core.api.bean.dto.HosUserDto"
		resultType="io.eoshos.core.api.bean.vo.HosUserVo">
		select
		<include refid="Base_Column_List" />
		from hos_user
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="phone != null">
			and phone = #{phone}
		</if>
		order by id desc
		limit #{offset},#{limit}
	</select>

	<select id="countObjects" parameterType="io.eoshos.core.api.bean.dto.HosUserDto"
		resultType="java.lang.Integer">
		select count(id) from hos_user
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="phone != null">
			and phone = #{phone}
		</if>
	</select>

</mapper>