html {-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:12px;line-height: 1.42857143;color: #333333;-webkit-font-smoothing:antialiased;background: #000 url(../images/bodyBg.png);background-size: 100%;-webkit-overflow-scrolling: touch;}
a{text-decoration: none;}
a:active,a:hover {outline:none;text-decoration: none;}
*{box-sizing: border-box;}
button{border: none;}
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select, img {margin: 0;padding: 0;}
audio, canvas,img,svg,video {max-width: 100%;vertical-align: middle;}
ul,li {list-style:none;}
input[type=text],input[type=password],input[type=tel],button{line-height:1;outline: none;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
 input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #666;font-size:1rem;}
input:-moz-placeholder, textarea:-moz-placeholder {color:#666;font-size:1rem;}
input::-moz-placeholder, textarea::-moz-placeholder {color:#666;font-size:1rem;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#666;font-size:1rem;}
.fl{float:left;}
.fr{float:right;}
.bodyBg{background-color: #f5f6fa;}
.borderJb{background: -webkit-linear-gradient(left, #1be7ff , #2f32f2);background: -o-linear-gradient(left, #1be7ff , #2f32f2);background: -moz-linear-gradient(left, #1be7ff , #2f32f2);background: linear-gradient(left,#1be7ff , #2f32f2);}
.ckPopup{position:fixed;height:100%;width:100%;left:0;top:0;text-align: center;z-index: 999;}
.ckShare{background-color:rgba(0,0,0,0.5);}
.ckPopup:before{display: inline-block;height: 100%;content: '';margin-left: -4px;vertical-align: middle;}
.ckPopup .popup,.ckPopup .winPup{display: inline-block;vertical-align: middle;width: 80%;padding: 1rem;background-color: #fff;border-radius: 0.6rem;}
.ckPopup .winPup{width: 70%;position: relative;}
.ckPopup .popup .ckBtnBox{margin-top: 1.2rem;display: box;display: -moz-box;display: -webkit-box;}
.ckPopup .popup .ckBtnBox span{display: block;-moz-box-flex: 1;box-flex:1;-webkit-box-flex: 1;font-size: 1.3rem;background-color: #77a9fd;color: #fff;border-radius: 0.4rem;line-height: 3.2rem;border:1px solid #77a9fd}
.ckPopup .popup .ckBtnBox span+span{margin-left: 1rem;background:none;color: #77a9fd;}
.ckPopup .popup .title,.ckPopup .winPup .title{font-size: 1.4rem;line-height: 1;padding-top: 1.5rem;margin-bottom: 1rem;}
.ckPopup .popup .title{font-weight: normal;}
.ckPopup .popup .con{padding-top: 1rem;font-size: 1.2rem;}
.ckPopup .popup .title + .con,.ckPopup .popup .img + .con{padding: 0;color: #999;}
.ckPopup .popup .img{margin-bottom: 1rem;}
.ckPopup .popup .img img{max-width: 100%;border: 1px solid #ddd;}
.timeMsg{display: inline-block;background-color: rgba(0,0,0,0.5);font-size: 1.3rem;color: #fff;padding:0.8rem 1rem;border-radius: 0.4rem;}
.timeMsg.msgWrite{background-color:#2e34f2;color: #fff;border-radius: 1.5rem;}

.hosWrite{background-color: #262626;box-shadow: 0 3px 3px #e3e4e8;}
.topH{height: 4rem;}
.hosTop.blackBg{background-color:rgba(0,0,0,0.9);}
.hosTop{padding: 1rem;height: 4rem;overflow: hidden;position: fixed;top: 0;left: 0;width: 100%;z-index: 99;}
.hosTop a{height: 2rem;width: 1.6rem;}
.hosTop a.logo{float: left;background: url(../images/appLogo.png) no-repeat left center;background-size: auto 100%;}
.hosTop a.rightBtn{float: right;background: url(../images/rightIco.png) no-repeat center;background-size: 100% auto;}
.hosWrite a.logo{background: url(../images/appLogo.png) no-repeat left center;background-size: auto 100%;}
.hosWrite a.rightBtn{background: url(../images/rightIco.png) no-repeat center;background-size: 100% auto;}
.tyTitle{text-align: center;}
.tyTitle h2{font-weight: normal;line-height: 1.1; background: url(../images/bg.png) no-repeat left bottom;background-size: 100% 30%;display: inline-block;font-size: 1.44rem;color: #fff;padding: 0 1rem;}
.tyTitle h2 span{font-size: 2rem;font-weight: bold;}
.tyTitle .tit_en{font-weight: bold;font-size: 1.6rem;background-image: url(../images/bg.png),url(../images/bg.png);background-repeat:no-repeat;background-size: 100% 0.6rem,90% 0.6rem;
background-position: center 1.4rem,center 3.6rem;padding: 0 0.3rem}

.hosRegister{width: 84%;margin: 2rem auto 3rem;}
.hosRegister li{position: relative;}
.hosRegister li:after{position: absolute;left: 0;bottom: 0;width: 100%;height: 2px;background: -webkit-linear-gradient(left, #1be7ff , #2f32f2);background: -o-linear-gradient(left, #1be7ff , #2f32f2);background: -moz-linear-gradient(left, #1be7ff , #2f32f2);background: linear-gradient(left,#1be7ff , #2f32f2);content: '';z-index: 1;font-size: 0;}
.hosRegister li input{background: none;border:none;border-bottom: 2px solid #585858;padding: 1rem;width: 100%;font-size: 1rem;color: #fff;position: relative;z-index: 2;}
.hosRegister li input:focus{border-bottom-color: transparent;}
.hosRegister li input.errorInput{border-bottom-color: #f00;}
.errorMsg{position: absolute;left: 0;top: 100%;color: #f00;line-height: 1.6;}
.hosRegister li .getCode{position: absolute;right: 0.5rem;background-color: #000;color: #fff;font-size: 1rem;border: 2px solid #2e34f2;height: 2rem;top: 0.5rem;border-radius: 1rem;padding: 0 0.5rem;z-index: 9;}
.hosRegister li .getCode:disabled{background-color:rgba(46,52,242,0.3);border: none;}
.hosRegister li .lookBtn{width: 2rem;height: 2rem;display: block;position: absolute;z-index: 9;top: 0.5rem;right: 0.5rem;background: url(../images/noear.png) no-repeat center;background-size: 90% auto;}
.hosRegister li span.ear{background: url(../images/ear.png) no-repeat center;background-size: 90% auto;}

.submitBox{text-align: center;margin-top: 2rem;}
.submitBox button,.submitBox a{display: inline-block;min-width: 42%;font-size: 1rem;color: #fff;border-radius: 1.2rem;padding: 0 1rem;}
.submitBox button{height: 2.4rem;}
.submitBox button + a,.submitBox a + button{margin-left: 10%;}
.submitBox a{height: 2.4rem;padding: 0.2rem;}
.submitBox a span{display: block;background-color: #000;line-height: 2rem;border-radius: 1rem;}
.codeImg{z-index:9;position: absolute;top: 0.5rem;height: 2rem;width: 4rem;right: 0.5rem;}

.popNav{position: fixed;width: 100%;height: 100%;top: 0;z-index: 999;;transition:right .3s;-webkit-transition:right .3s;-o-transition:right .3s;-moz-transition:right .3s;right: -100%;}
.openNav{display: block;}
.popNav .clickBg{position: absolute;width: 100%;height: 100%;left: 0;top: 0;background-color: rgba(0,0,0,0.5);}
.popNav.homeNav .clickBg{background-color: rgba(0,0,0,0.6);}
.navList{background-color: #262626;float: right;height: 100%;width: 50%;position: relative;z-index: 999;}
.popNav.homeNav .navList{background-color: #000;}
.openNav{right: 0;}

.leftNav{padding-top: 3rem}
.leftNav li a{display: block;padding-left: 2rem;font-size: 1.36rem;line-height: 3;color: #bbb;}
.popNav.homeNav .leftNav li a,.popNav.homeNav .lanNavBox .select,.popNav.homeNav .lanNavBox .lanLink a{color: #5156fc;}

.lanNavBox{width:6.4rem;position: absolute;left: 50%;margin-left: -3.2rem;bottom: 0;height: 9rem;}
.lanNavBox .select{font-size: 1.1rem;line-height: 2rem;position: relative;color:#bbb}
.lanNavBox .select:after{content:'';background:url(../images/sj.png) no-repeat right center;display: block;position: absolute;right: 0;top: 0;height: 100%;width: 16%;background-size: 100% auto;}
.popNav.homeNav .lanNavBox .select:after{background:url(../images/sanjiaoLs.png) no-repeat right center;background-size: 100% auto}
.lanNavBox .lanLink{display: none;}
.lanNavBox .lanLink a{display: block;font-size: 1.1rem;color: #bbb;line-height: 2rem;}
