.hosTitle{display: block;text-align: center;font-size: 3.8rem;color: #fff;font-family: 'hosFont';margin-top: 2.5rem;}
.hosTxt{font-size: 1.36rem;text-align: center;color: #fff;letter-spacing: 0.4rem;margin-top: 0.6rem;}
.hosTxt.hosTxt_en{letter-spacing:0;font-size: 1.5rem;}
.downLink{text-align: center;margin-bottom: 3rem;}
.downLink a{display: inline-block;padding:0.2rem;border-radius: 1.3rem;color: #fff;margin-top: 1.8rem;}
.downLink a span{display: block;background-color: #000;line-height: 2.2rem;font-size: 1rem;padding: 0 2rem;border-radius: 1.1rem;}

.scan{display: block;text-align: center;margin-top: 2.4rem;padding-bottom: 3rem;}
.scan .box{display: inline-block;margin: 0 1.5rem;}
.scan .box img{display: block;margin: 0 auto;}
.scan .box img.ewm{height: 1.84rem;}
.scan .box img.ewmPic{height:7.4rem;}
.scan .box p{font-size: 0.9rem;font-weight: bold;color: #fff;text-align: center;line-height: 2rem;}

.loginTxt{font-size:2rem;text-align: center;color: #fff;margin-top: 0.6rem;background-image: url(../images/bg.png),url(../images/bg.png);background-position:center 2.1rem,center 5.3rem;background-size:100% 0.6rem,86% 0.6rem;line-height: 3.2rem;background-repeat: no-repeat;display: inline-block;font-weight: bold;}
.loginTxt_en{font-size: 1.4rem;font-weight: bold;line-height: 2.6rem;background-position:center 1.4rem,center 3.8rem;background-size:100% 0.6rem,96% 0.6rem;}

.yqTxt{font-size: 1.2rem;color: #fff;text-align: center;margin-top: 0.5rem;margin-bottom: 3rem;}
.yqTxt_en{font-size: 1.1rem;}

.hosTxtInfo{margin: 0 1.5rem;padding-bottom: 2rem;}
.hosTxtInfo li{position: relative;padding-left:6rem;margin-bottom: 1rem;}
.hosTxtInfo li span{position: absolute;left: 0;top: 0;font-family: 'hosNum';color: #2e34f2;font-size:4.4rem;line-height: 1;}
.hosTxtInfo li h3{font-size: 1.44rem;color: #fff;padding-top: 2rem;}
.hosTxtInfo li p{font-size: 1rem;color: #d7d7d7;line-height: 1.6;}

.userInfo,.userMoney,.userTask,.userTrans{margin: 1rem;background-color: #fff;border-radius: 0.4rem;box-shadow: 0 0 4px #e3e4e8}
.userInfo{text-align: center;padding-top: 1.8rem;}
.userInfo .title{font-size: 1.44rem;}
.userInfo .toRule{font-size: 1.1rem;line-height: 1.8;color: #409eff;margin-bottom: 1.5rem;display: inline-block;}
.userInfo .yqmTit{font-size: 1rem;font-weight: normal;}
.userInfo .yqm{font-size: 3.2rem;}
.userInfo .copy{font-size: 1rem;display: inline-block;color: #409eff;line-height: 1;}
.userInfo .btnBox{width: 100%;display: block;overflow: hidden;padding: 1rem 0;margin-top: 1.5rem;border-top: 1px solid #f0f0f2;}
.userInfo .btnBox li{width: 33%;float: left;text-align: center;font-size: 1rem;}
.userInfo .btnBox li:nth-child(2){border-left: 1px solid #f0f0f2;border-right: 1px solid #f0f0f2;}
.userTit{font-size: 1.1rem;padding: 1rem;}
.userTit a.look{float: right;font-size: 1rem;color: #409eff;font-weight: normal;}
.userMoney .money{font-size: 2.4rem;text-align: center;line-height: 3;font-weight: bold;}
.userMoney .txt{font-size: 0.8rem;text-align: center;color:#999;padding: 1rem 0;}
.userMoney .txt a{border:1px solid #409eff;display:block;width:90%;margin:0 auto;color:#409eff;line-height: 2.5;border-radius: 3px;font-size: 1rem;}
.userTask ul{padding:0 1rem 1rem 1rem;}
.userTask ul li{font-size: 1rem;color: #666;line-height: 1.8;}
.noData{font-size: 1rem;text-align: center;padding: 3rem 0 4rem 0;}

.hosPop{position:fixed;width: 100%;height: 100%;left: 0;top: 0;background-color: rgba(229,229,229,0.9);padding-bottom:5rem;text-align: center;z-index: 99;}
.hosPop:before{width:0;height: 100%;margin-left: -4px;content:'';vertical-align: bottom;display: inline-block;}

.hosPop .closeBtn{position: absolute;left: 5%;bottom:0.4rem;width: 90%;background-color: #fff;height: 3.6rem;color: #666;font-size: 1.2rem;border-radius: 0.3rem;}
.hosPop .shareBig{display: inline-block;width: 90%;background-color: #fff;max-height: 90%;border-radius: 0.3rem;text-align: center;padding: 0.5rem 0 1rem;}
.hosPop #share .soshm-item{display: inline-block;width: 8rem;text-align: center;margin-top: 1.2rem;}
.hosPop #share .soshm-item-icon{display: inline-block;width:5rem;border: 1px solid #28a7de;height: 5rem;border-radius: 100%;}
.hosPop #share .Twitter .soshm-item-icon{background: url(../images/shareIco1.png) no-repeat center;background-size: auto 60%;}
.hosPop #share .qq .soshm-item-icon{background: url(../images/shareIco2.png) no-repeat center;background-size: auto 60%;}
.hosPop #share .qzone .soshm-item-icon{background: url(../images/shareIco3.png) no-repeat center;background-size: auto 60%;}
.hosPop #share .weixin .soshm-item-icon{background: url(../images/shareIco4.png) no-repeat center;background-size: auto 60%;}
.hosPop #share .weixintimeline .soshm-item-icon{background: url(../images/shareIco5.png) no-repeat center;background-size: auto 60%;}
.hosPop #share .Facebook .soshm-item-icon{background: url(../images/shareIco6.png) no-repeat center;background-size: auto 60%;}
.hosPop #share .soshm-item .soshm-item-text{font-size: 1rem;color: #999;margin-top: 0.5rem;display: block;}

.soshm-weixin-sharetip.weixin-sharetip-show{z-index: 9999;opacity: 1;visibility: visible;}
.soshm-weixin-sharetip {position: fixed;overflow: hidden; width: 100%;height: 100%;top: 0;left: 0;background:rgba(0,0,0,0.6) url(../images/wxbg.png) no-repeat right 0;background-size: 50% auto;z-index: -1;opacity: 0;visibility: hidden;-webkit-transition: all .6s ease-out;transition: all .6s ease-out;}
.hosPop .shareBig .tip{font-size: 1rem;padding-top: 1rem;}
.hosPop .shareBig .tip span{color: #409eff;}
#yqLink{width: 100%;font-size: 0;color: #fff;}
.hosPop{display: none;}
.hosPop .haibaoPic{display: inline-block;height: 100%;position: relative;}
.hosPop .haibaoPic img.hb{height: 100%;}
.hosPop .haibaoPic .picEwm{width:28%;height:18.5%;position: absolute;left: 50%;bottom: 25.5%;margin-left:-14%;}
.hosPop .haibaoPic .picEwm img{width: 100%;height: 100%;}

.timing{height: 4rem;text-align: center;padding: 0.5rem 0;}
.timing .timeHide{background-color: #fff;display: inline-block;color:#000;line-height: 3rem;font-size: 1.2rem;padding: 0 1.5rem;border-radius:1.5rem;box-shadow: 0 3px 3px #c4c4c4;}

.hosPop .invent{width:90%;height: 96%;background-color: #fff;display: inline-block;border-radius: 0.3rem;padding-bottom: 1rem;padding-top: 8rem;position: relative;}
.invent .title,.inventTop{position: absolute;left: 0;top: 0;width: 100%;}
.invent .title{height:5rem;display: block;}
.invent .title:before{height: 100%;width: 0;content: '';margin-left: -4px;display: inline-block;vertical-align: middle;}
.invent .title h2{width: 90%;display: inline-block;vertical-align: middle;text-align: left;line-height: 1;font-size: 1.1rem;}
.invent .title h2 span{font-weight: normal;font-size: 0.9rem;color: #409eff;display: block;margin-top: 0.6rem;}

.inventTop{display: table;width: 90%;height: 3rem;margin: 0 auto;padding-bottom: 0.5rem;top: 5rem;left: 5%;}
.inventTop li{display: table-cell;text-align: center;vertical-align: middle;background-color: #f0f3f7;font-size: 0.9rem;}
.scrollBox{width: 90%;margin: 0 auto;overflow-y: scroll;height: 100%;}
.inventList{width: 100%;display: table;}
.inventList ul{display:table-row;}
.inventList ul li{display: table-cell;text-align: center;font-size:0.9rem;text-align: center;line-height: 2rem;}
.w12{width: 12%;}
.w22{width: 22%;}
.w26{width: 26%;}

.hosPop .taskIn{width:90%;height: 96%;background-color: #fff;display: inline-block;border-radius: 0.3rem;overflow-y: auto;padding: 1.5rem 1rem 1rem;}
.hosPop .taskIn .title{font-size: 1.1rem;text-align: left;margin-bottom: 1rem;}
.hosPop .taskIn li{position: relative;padding-left: 3.2rem;text-align: left;font-size: 1rem;color: #666;margin-bottom: 0.8rem;}
.hosPop .taskIn li span{font-size: 1rem;font-weight: bold;color: #333;position: absolute;left: 0;top: 0;}
.hosPop .taskIn .scan p{color: #666;}
.hosPop .taskIn .scan .box{margin: 0 1rem;}

.checkBox{display: block;overflow: hidden;text-align: left;margin-top: 0.8rem;}
.checkBox label,.checkBox a{font-size: 1rem;line-height: 1.6rem;float: left;}
.checkBox label{color: #fff;position: relative;}
.checkBox label input{position: absolute;left: 0;top: 0;opacity: 0;}
.checkBox label span{display: block;overflow: hidden;}
.checkBox label span:before{content: '';width: 1.2rem;height: 1.2rem;float: left;border: 1px solid #2e34f2;margin-top: 0.2rem;margin-right: 0.5rem;}
.checkBox label input:checked + span:before{background: url(../images/gou.png);background-size: 100%;}
.forgetLink{color: #fff;font-size: 1rem;line-height: 1.6;margin-top: 0.5rem;display: inline-block;}

.xieyiBox{position: fixed;width: 100%;height: 100%;background-color: #191a31;right: -100%;top: 0;padding: 4rem 1rem 1rem;transition:right .3s;-webkit-transition:right .3s;-o-transition:right .3s;-moz-transition:right .3s;z-index: 9999;}
.xieyiBox.xieyiOpen{right: 0;}

.xieyiBox .title{position:absolute;width: 100%;left: 0;top: 0;line-height: 3.4rem;border-bottom: 0.2rem solid #000;color: #fff;text-align: center;font-size: 1.1rem;font-weight: bold;}
.xieyiBox .title .return{height: 100%;padding: 0.7rem 1.2rem;position: absolute;left: 0;top: 0;display: block;}
.xieyiBox .title .return img{height: 100%;display: block;}
.xyCon{height: 100%;width: 100%;overflow-y: scroll;color: #fff;font-size: 1rem;line-height: 1.6;}
.xyCon h4{line-height: 2;font-size: 1.1rem;}

.bodybgf{background: #f5f6fa;}
.realTop{font-size: 1.2rem;background-color: #fff;line-height: 3.6rem;text-align: center;border-bottom: 1px solid #dfdfe1;position: fixed;width: 100%;height: 3.6rem;left: 0;top: 0;z-index: 9;}
.heigh3{height: 3.6rem;}
.realTop a{position: absolute;display: block;width: 3.6rem;height: 100%;padding-bottom: 2px;}
.realTop a img{width: 100%;height: 100%;display: block;}

.upfileForm{background-color:#fff;border-bottom: 1px solid #f0f0f2;padding-left:2rem;}
.upfileForm li{position: relative;}
.upfileForm li+li{border-top: 1px solid #f5f6f2;}
.upfileForm input{width: 100%;font-size: 1rem;padding: 1rem 0 1rem 6rem;border: none;}
.upfileForm label{position: absolute;left: 0;top: 0;line-height: 3rem;font-size: 1.1rem;color: #333;}

.upfilePic{border-bottom: 1px solid #f0f0f2;border-top: 1px solid #f0f0f2;background-color: #fff;padding:0 2rem 2rem;margin-top: 1rem;}
.upfilePic .title{font-size: 1.2rem;line-height: 4.8rem;}
.upfilePic .title span{font-size: 1rem;color: #999;margin-left: 0.5rem;}
.upfilePic ul li{position: relative;border: 1px solid #f0f0f2;border-radius: 0.5rem;height: 14rem;overflow: hidden;}
.upfilePic ul li + li{margin-top: 1rem;}
.upfilePic ul li img{width: 100%;display: inline-block;height: auto;transform-origin:center center;vertical-align: middle;}
.upfilePic ul li input[type=file]{position: absolute;left: 0;top: 0;width: 100%;height: 100%;opacity: 0;}
.heigh5{height: 5rem;z-index: 2;}
.upfilePic ul li .tip{position: absolute;top: 1.62rem;right: -3rem;height: 2rem;width: 12rem;background-color: #f9af41;color: #fff;font-size: 1rem;text-align: center;line-height: 2rem;transform: rotate(45deg);-webkit-transform:rotate(45deg);z-index: 99;}
.submitBtn{padding: 1rem;position: fixed;left: 0;bottom: 0;width: 100%;}
.submitBtn button{width: 100%;height: 3rem;border: none;background-color: #5a9ef8;font-size: 1.2rem;color: #fff;border-radius: 0.4rem;}

.bigImgbox{position: absolute;width: 100%;left: 0;height: 42rem;top: -14rem;text-align: center;}
.bigImgbox:before{display: inline-block;height: 100%;margin-left: -4px;content: '';vertical-align: middle;}

.assettip{background: #e7f0fc;color:#5a9ef8;padding:1rem 1.5rem;font-size: 1rem;}
.assettip img{width:6%;float: right;}
.assetbox{margin:3.6rem 1.5rem 0;padding-bottom: 4rem;}
.assetbox li{font-size: 1.2rem;line-height: 1.5;padding: 1rem 0;border-bottom: 1px solid #f5f6f2;}
.assetbox li i{font-style: normal;color:#999;}
.assetbox li span{float: right;font-size: 1.4rem;position: relative;top:-1rem}
.assetbtn{position: fixed;bottom:0;line-height: 3.5rem;width:100%;background: #fff;} 
.assetbtn a{display: block;color:#5a9ef8;text-align: center;font-size: 1.3rem;}
.assetbtn a img{width:5%;position: relative;top:-2px;left: 4px;}

.userMoney p.count{padding:0 2rem .8rem;overflow: hidden;position: relative;}
.userMoney p.count i{font-style: normal;font-size:.9rem}
.userMoney p.count i span{border:1px solid #5da0f8;border-radius: 50%;display: inline-block;width:1.2rem;height:1.2rem;text-align: center;color:#5da0f8;font-size: 1rem;margin-left: .5rem;line-height: 1;}
.userMoney p.count i:first-child{float:left}
.userMoney p.count i:nth-child(2){float:right}
#tft h2,#getcoin h2{text-align: left;margin-bottom: 1.5rem;}
#getcoin p{text-align: left;}
.asset{float: right;color:#409eff;font-size: 1rem;}

.loading{position: fixed;width: 100%;height: 100%;left: 0;top: 0;background-color:rgba(255,255,255,0.1);text-align: center;display: none;}
.loading:before{height: 100%;width: 0;display:inline-block;vertical-align: middle;content: '';margin-left: -4px;}
.loading .in{display: inline-block;background-color: #fff;border-radius: 0.5rem;padding: 10px;}
.loading .in img{width: 40%;}
.loading .in p{font-size: 1.5rem;margin-top: 0.5rem;}

.getcon{margin:4rem 1rem 0;}
.getcon .tab{text-align:center ;position: relative;font-size:1.3rem;}
.getcon .tab:after{content: "";width:100%;height:1px;background: #e5e7ec;position: absolute;bottom:0;left:0;}
.getcon .tab a{padding:1rem 0;width:10rem;display: inline-block;color:#5e5e5e;position: relative;}
.getcon .tab a:first-child{margin-right:2rem;}
.getcon .tab a.active{color:#5a9ef8;}
.getcon .tab a.active:after{content: "";width:100%;height:1px;background: #5a9ef8;position: absolute;bottom:0;left:0;z-index: 99;}
.getcon form{text-align: left;font-size: 1.2rem;margin-top:4rem;}
.getcon form .submit,.safewrap .submit{text-align: center;display: block;background: #5a9ef8;color:#fff;border-radius: 5px;cursor: pointer;width:95%;margin:0 auto;border:none;line-height: 3;outline: none;}
.safewrap .submit{width:90%;margin-top: 2rem;}
.tag{display: none;}
.getcon form label{width:5rem;display: inline-block;text-align: right;margin-right:1rem;color:#000}
.getcon form div{margin-bottom:2.2rem;position: relative;}
.getcon form div input{border:none;border-bottom: 1px solid #e6e6e8;width:77%;outline: none;border-radius: inherit;font-size: 1.2rem;padding:.5rem 0;line-height: 1;}
.getcon form div a{position: absolute;right:0;top:.4rem;color: #5a9ef8;}
.getcon .errorcode{color:#e37470;font-weight: normal;font-size: 14px;margin-left: 20px;}
.verify{position: absolute;bottom:0;width:100%;background: #f4f4f4;padding-bottom: 2rem;left:100%;transition:all .5s;}
.verify h3{text-align: center;font-size: 1.4rem;padding:1rem;border-bottom: 1px solid #e0e0e0;margin-bottom:2rem;font-weight: normal;}
.verify h3 img{float: left;width:3%;margin-top: .3rem;}
.verify div{background: #fff;width:90%;margin:0 auto;border-radius: .5rem;line-height: 4rem;margin-bottom: 1rem;position: relative;}
.verify div input{border:none;padding-left: 1rem;font-size: 1.2rem;width:100%;line-height: 1.5;outline: none;}
.verify div a{background: #4775e3;color:#fff;display: inline-block;padding:0 .5rem;font-size: 1rem;line-height:4rem;border-top-right-radius:.5rem;border-bottom-right-radius:.5rem;position:absolute;top:0;right:0;}
.safewrap{width:100%;height:100%;position:fixed;left:0;top: 0;background-color: rgba(0,0,0,0.5);z-index:12;display: none;font-size: 1.2rem;}
