<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd   
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-4.3.xsd   
        http://www.springframework.org/schema/mvc   
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd   
        http://www.springframework.org/schema/tx   
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- 配置Freemarker属性文件路径 -->
    <bean id="freemarkerConfiguration"  
        class="org.springframework.beans.factory.config.PropertiesFactoryBean">  
        <property name="location"  
            value="classpath:freemarker.properties"/>  
	</bean> 
	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/views/"></property>
		 <property name="defaultEncoding" value="UTF-8" />
		<property name="freemarkerVariables">
			<map>
				<entry key="xml_escape" value-ref="fmXmlEscape"></entry>
			</map>
		</property>
		<property name="freemarkerSettings" ref="freemarkerConfiguration"></property>
	</bean>
	<bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape"></bean>
	
	<bean id="freemarkerResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="cache" value="true"></property>
		<property name="order" value="1"></property>
		<property name="suffix" value=".html"></property>
		<property name="contentType" value="text/html;charset=utf-8"></property>
		<property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"></property>
		<property name="exposeRequestAttributes" value="true"></property>
		<property name="exposeSessionAttributes" value="true"></property>
		<property name="exposeSpringMacroHelpers" value="true"></property>
		<property name="requestContextAttribute" value="request"></property>
	</bean>
	
<!-- 	<bean id="messageSource" -->
<!--           class="org.springframework.context.support.ResourceBundleMessageSource" -->
<!--           p:basename="i18n/messages" /> -->
           <!-- 上传图片文件 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
        <property name="maxUploadSize" value="209715200" /><!-- 200M -->
        <property name="defaultEncoding" value="utf-8" />
        <property name="resolveLazily" value="true" />  
        <!-- <property name="uploadTempDir" value="data/orderFile"></property> -->
    </bean>
</beans>