<!-- inline styles related to this page -->
<!-- ace settings handler -->

<script src="/admin/plugin/assets/js/ace-extra.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
<script src="/admin/plugin/assets/js/html5shiv.js"></script>
<script src="/admin/plugin/assets/js/respond.min.js"></script>
<![endif]-->

<!--[if !IE]> -->
<script type="text/javascript">
window.jQuery || document.write("<script src='/admin/plugin/assets/js/jquery-2.1.4.min.js'>"+"<"+"/script>");
</script>
<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='/admin/plugin/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script src="/admin/plugin/assets/js/bootstrap.min.js"></script>
<script src="/admin/plugin/assets/js/typeahead-bs2.min.js"></script>
<script src="/admin/plugin/assets/js/bootstrap-datetimepicker.js"></script>

<!-- page specific plugin scripts -->
<script src="/admin/plugin/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/admin/plugin/ace/assets/js/jquery.jqGrid.min.js"></script>
<script src="/admin/plugin/ace/assets/js/grid.locale-cn.js"></script>
<script src="/admin/plugin/ace/assets/js/jquery.PrintArea.js"></script>
<!-- tree scripts -->
<!--<script src="/admin/plugin/assets/js/fuelux/fuelux.tree.js"></script>
<script src="/admin/plugin/assets/js/ace/elements.treeview.js"></script>-->
<!-- ace scripts -->
<script src="/admin/plugin/assets/js/ace.js"></script>
<script src="/admin/js/adminCommon.js"></script>

<script type="text/javascript" src="/admin/plugin/layer-v2.4/layer.js"></script>	
<script type="text/javascript" src="/admin/plugin/zTree/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="/admin/plugin/zTree/js/jquery.ztree.excheck.js"></script>
<script src="/admin/js/ajaxSubmit.js"></script> 