<link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap-select.css"/>
<link rel="stylesheet" type="text/css" href="/assets/bootstrap-table/bootstrap-table.css"/>
<link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap-datetimepicker.min.css"/>
<link rel="stylesheet" type="text/css" href="/assets/layer/layer.css"/>
<link rel="stylesheet" type="text/css" href="/assets/ngVerify/ngVerify.css"/>
<link rel="stylesheet" type="text/css" href="/css/base.css"/>
<!--link rel="stylesheet" type="text/css" href="/font/iconfont.css"/-->
<link rel="stylesheet" type="text/css" href="/css/iframeCss.css?v=1023"/>
<link rel="stylesheet" type="text/css" href="/css/rmsAdmin.css?v=1023"/>
<link rel="stylesheet" type="text/css" href="/css/boxImg.css"/>
<script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/angular.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/ngVerify/ngVerify.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/bootstrap/js/bootstrap-select.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/bootstrap/js/bootstrap-datetimepicker.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/bootstrap/js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/bootstrap-table/bootstrap-table.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/bootstrap-table/bootstrap-table-zh-CN.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/divscroll.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/rms.js" type="text/javascript" charset="utf-8"></script>
