<head>
	<meta name="baidu-site-verification" content="zR8yGJv1uH" />
	<title>HOS 后台管理系统</title>
	<meta charset="utf-8">
	<meta name="keywords" content="HOS 后台管理系统">
	<meta name="description" content="HOS 后台管理系统" >
	<meta name="baidu-site-verification" content="h2zYtV7VkS"/>
	<!-- basic styles -->
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
		<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->
		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="/assets/css/jquery-ui-1.10.3.full.min.css" />
		<link rel="stylesheet" href="/assets/css/datepicker.css" />
        <link rel="stylesheet" href="/assets/css/daterangepicker.css" />
        <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css" />
		<link rel="stylesheet" href="/assets/css/ui.jqgrid.css" />

		<!-- fonts -->

		<link rel="stylesheet" href="/assets/css/ace-fonts.css" />
		
		<!-- ace styles -->
		<link rel="stylesheet" href="/assets/css/ace.css" />
		<link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="/assets/css/ace-skins.min.css" />
		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="/assets/css/ace-ie.min.css" />
		<![endif]-->
		
		<link rel="stylesheet" href="/zTree/css/demo.css" type="text/css">
		<link rel="stylesheet" href="/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
</head>
