<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>EOSHOS</title>		
		<#include "/admin/common/top.html">
	</head>
	<body style="background: #eee;" onload="getData(0,6)">
		<div class="assetbox">
			<h3 id="title"></h3>
			<ul id="assetDetails"></ul>
			<div class="assetPage">
				<button id="pre" onclick="preFn(this)" disabled="disabled"><</button>
				<div id="showPage" class="in"></div>	
				<button id="next" onclick="nextFn(this)">></button>
			</div>
		</div>
		<script src="/static/js/page.js"></script>
		<script>
			//$("#title").append(window.homepage_27+"<span>"+window.homepage_28+"</span>");
			$("#title").append(window.homepage_27);
			function getData(num,size) {
				var _num=num;
				if(num<=0){
					num=1;
				}
				$.ajax({
					url : "/asset/details?offset="+(num-1)*size+"&limit="+size+"&userId="+window.userId,
					type : "post",
					processData : false,
					contentType : false,
					success : function(data) {
						data = JSON.parse(data);
						if (data.errorCode = '0000') {
							var rows = data.rows;
							if(_num<=0){
								creatPage(data.total,6);
							}
							$("#assetDetails").empty();
							for (i = 0; i < rows.length; i++) {
								var coinNumber = numFormat(rows[i].coinNumber);
								if(rows[i].dcFlag == "D"){
									rows[i].dcFlag = window.homepage_32;
									rows[i].coinNumber = "-" + coinNumber;
								}else if(rows[i].dcFlag == "C"){
									rows[i].dcFlag = window.homepage_29;
									rows[i].coinNumber = "+" + coinNumber;
								}else if(rows[i].dcFlag == "N"){
									rows[i].coinNumber = coinNumber;
									if(rows[i].transType == "8"){
										rows[i].dcFlag = window.homepage_30;
									}else if(rows[i].transType == "9"){
										rows[i].dcFlag = window.homepage_31;
									}
								}
								
								var notes = '';
								if(rows[i].notes == "1"){
									notes = window.homepage_38;
								}else if(rows[i].notes == "2"){
									notes = window.homepage_39;
								}
								
								$(
									'<li>'+ 
									rows[i].dcFlag + '<br>' + 
									'<i>' + rows[i].gmtCreatedStr + '</i>' + 
									'<span>' + rows[i].coinNumber + '</span>' +
									'<em>' + notes + '</em>' + 
									'</li>'		
								).appendTo($('#assetDetails'));
							}
						}
					}
				});
			}
		</script>
	</body>
</html>