<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>EOSHOS</title>		
		<#include "/admin/common/top.html">
	</head>
	<body style="background: #f5f6fa;">
		<div class="landedHeader">
			<div class="wrap">
				<img src="/static/images/logo.png" alt="" />
				<ul>
					<li>${verification_14}</li>
					<li onclick="downloadWhitePaper()">${verification_15}</li>				
					<li class="zh">
						${userName} <span></span>
						<div>
							<a href="javascript:;" onclick="back()">${verification_11}</a>
							<a href="javascript:;" onclick="jumpLogout()">${verification_12}</a>
						</div>
					</li>
					<li class="lang">
						<#if localLang??&&localLang=='en'>English<#else>繁體中文</#if> <span></span>
						<div>
							<a href="javascript:;" onclick="switchLanguage('en')">English</a>
							<a href="javascript:;" onclick="switchLanguage('zh')">繁體中文</a>
						</div>
					</li>
				</ul>					
			</div>
		</div>
		<div class="wrap">
			<div class="con4 con5">
				<h2><a id="guidance" href="/homepage/index.html?lang=">${verification_11}</a>><a>${verification_0}</a> </h2>
				<form action="" id="real">
					<div>
					    <label for="name">${verification_4}</label><input type="text" id="realName" name="name" value="${realName}" readonly="readonly" style="border:none"/>
					</div>
					<div>
						<label for="idnum">${verification_5}</label><input type="text" id="cardId" name="idnum" value="${cardId}" readonly="readonly" style="border:none"/>
					</div>
					<div class="file">
						<label for="pics" style="vertical-align: top;padding-top: 15px;">${verification_6}</label>
						<div>
						    <span class="poin"><#if localLang??&&localLang=='en'>Verificating<#else>審核中</#if></span>
							<input onchange="UpladFile(this)" type="text" name="pic_f" readonly="readonly"/>
							<input class="upFileVal" type="text" name="front_pic" value="" id="front_pic"/>
							<img class="upFileImg fro" src="/auth/getimage?fileName=${cardId}a" alt="" />
						</div>
						<div>
						    <span class="poin"><#if localLang??&&localLang=='en'>Verificating<#else>審核中</#if></span>
							<input onchange="UpladFile(this)" type="text" name="pic_b" readonly="readonly"/>
							<input class="upFileVal" type="text" name="back_pic" value="" id="back_pic" />
							<img class="upFileImg bac" src="/auth/getimage?fileName=${cardId}b" alt="" />
						</div>
					</div>					
					<div class="btn">
					    <input type="reset" id="cancel" value="${verification_13}"/>
					</div>
				</form>
			</div>
		</div>
		<div class="blk"> 
				<div class="record">
					<span class="shut"><img src="/static/images/shut.png" alt="" /></span>
					<div class="success">
						<h3>${verification_9}</h3>
						<p><span>5</span>${verification_10}</p>
						<a href="javascript:;" id="back">${verification_13}</a>
					</div>
				</div>
       </div>

		<script>
			var storage = window.localStorage;
			if(storage.getItem("localLang")=="zh"){
				$(".landedHeader li:last-child div").css("width","126px")
			}
			$(".zh,.zh div").hover(function(){
				$(".zh div").show()
			},function(){
				$(".zh div").hide()
			})
			$(".lang").hover(function(){
				$(".lang div").show()
			},function(){
				$(".lang div").hide()
			})
			
			function switchLanguage(language){
				var storage = window.localStorage;
				storage.setItem("localLang", language);					
				window.location.href="/homepage/auth?lang="+language;
			}	
			
			
			function st(){
				if(!$(".success").is(":hidden")){
					timer=setInterval(function(){
						$(".success p span").html($(".success p span").html()-1)
						if($(".success p span").html()==0){
							back();
						}
					},1000)
				}
			}
			
			 $(".shut").click(function(){
				   $(".blk").hide()
			   })
			function downloadWhitePaper(){
				var storage = window.localStorage;
				var lang = storage.getItem("localLang");
		    	location.href="/login/downloadwhitepaper?language="+lang;
		    }
			
			function UpladFile(obj) {
	            var fileObj = obj.files[0];
	            var imgSize=(fileObj.size/1024);
	            if(imgSize>5120){
	            	alert('${verification_7}');
	            }else{
	            	var scale=800/imgSize;
	            	scale=parseFloat(scale.toFixed(1));
	           		photoCompress(fileObj, {quality:scale,width:800},obj);
	            }
	        }
			
			function jumpLogout(){
				var storage = window.localStorage;
				var lang = storage.getItem("localLang");
				window.location.href="/login/logOut.html?lang="+lang;
			}	
			
			$("#submit").click(function(){
				//保存图片
				/**
				* 以下图片命名规则和后端java是一致的,如果有修改必须调整前后端		
				* 身份证正面：身份证号码+a+文件后缀
				* 身份证反面：身份证号码+b+文件后缀
				*/
				var realName = $('#realName').val();
				var cardId = $('#cardId').val();
				var form = new FormData();
				form.append("realName", realName);
				form.append("cardId", cardId);
				form.append("file1", $('#front_pic').val());
				form.append("file2", $('#back_pic').val());
				form.append("fileName1", cardId + 'a.jpg');
				form.append("fileName2", cardId + 'b.jpg');
				$.ajax({
					url : "/auth/upload",
					type : "POST",
					data : form,
					processData : false,
					contentType : false,
					success : function(data) {
						data=JSON.parse(data);
						if(data.errorCode == '0000'){
							$(".blk").css("display","table");
							st();
						}else{
							
						}
					}
				});
			});
			
			function back(){
				location='/homepage/index.html?lang='+window.localStorage.getItem("localLang");
			}
			
			$("#cancel,#back").click(function(){
				back();
			})
			
			language($("#guidance"));
		</script>
	</body>
</html>