<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>EOSHOS</title>		
		<#include "/admin/common/top.html">
	</head>
	<body style="background: #f5f6fa;">
		<div class="landedHeader">
			<div class="wrap">
				<img src="/static/images/logo.png" alt="" />
				<ul>
					<li>${verification_14}</li>
					<li onclick="downloadWhitePaper()">${verification_15}</li>				
					<li class="zh">
						${userName} <span></span>
						<div>
							<a href="javascript:;" onclick="back()">${verification_11}</a>
							<a href="javascript:;" onclick="jumpLogout()">${verification_12}</a>
						</div>
					</li>
					<li class="lang">
						<#if localLang??&&localLang=='en'>English<#else>繁體中文</#if> <span></span>
						<div>
							<a href="javascript:;" onclick="switchLanguage('en')">English</a>
							<a href="javascript:;" onclick="switchLanguage('zh')">繁體中文</a>
						</div>
					</li>
				</ul>					
			</div>
		</div>
		<div class="wrap">
			<div class="con4 con6">
				<h2><a id="guidance" href="/homepage/index.html?lang=">${verification_11}</a>><a>提币</a><span class="errorcode"></span></h2>
				<div>
					<div class="tab">
					    <a href="javascript:" class="active">提币到个人账户</a><a href="javascript:">提币到交易所</a>						
					</div>
					<form action="" id="extract" autocomplete="off">
						<div class="getall">
							<label>可用</label><span>10000.00</span>HOS
						</div>
						<div>
							<label for="user">提币账户</label>
							<input type="text" placeholder="请输入EOS账户" id="user" name="user" maxlength="12"/>
						</div>
						<div class="tag">
							<label for="tag">标签</label>
							<input type="text" placeholder="请务必指定Tag 或 Memo，否则无法入账" id="tag" name="tag"/>
						</div>
						<div>
							<label for="amount">数量</label>
							<input type="text" placeholder="最小提币数量10.00HOS" id="amount" name="amount"/><a href="javascript:" class="all">全部</a>
						</div>
						<input type="submit" value="提币" class="submit"/>
					</form>
				</div>
			</div>
		</div>
		<div class="blk2">
				<div class="record2">
					<div class="tips tips2">
						<h3>安全验证</h3>
						<p><input type="text" placeholder="请输入验证码（尾号为4530）" id="phone" name="phone" maxlength="11"/><a href="javascript:" class="checktime" onclick="getPhoneCode()">获取验证码</a></p>
						<a href="javascript:" class="clos">确定</a>
					</div>
					<div class="tips tips1" style="display: none;">
						<h3>温馨提示</h3>
						<p>您的提币请求已提交，我们将尽快为您处理。</p>
						<a href="javascript:" class="clos">知道了</a>
					</div>
				</div>
			</div>
		<script>			
			function getPhoneCode(){
				var countDown = 60;
				$('.checktime').html(countDown + '秒后重发').css("pointer-events","none");
				var timer = setInterval(function() {
					countDown--;
					if (countDown) {
						$('.checktime').html(countDown + '秒后重发');
					} else {
						clearInterval(timer);
						$('.checktime').html('获取验证码').css("pointer-events","auto").bind("click",getPhoneCode);
					}
				}, 1000);
			}
			
			var mon=parseInt($(".getall span").html());
			$(".all").click(function(){				
				$("input[name=amount]").val(mon)
			})
			
			 $(".clos").click(function(){
				   $(".blk2").css("display","none");
			   })
			$(".tab a").click(function(){
				$(this).addClass("active").siblings().removeClass("active");
			})
			$(".tab a:first-child").click(function(){
				$(".tag").hide();
			})
			$(".tab a:nth-child(2)").click(function(){
				$(".tag").show();
			})
			$(".zh,.zh div").hover(function(){
				$(".zh div").show()
			},function(){
				$(".zh div").hide()
			})
			$(".lang").hover(function(){
				$(".lang div").show()
			},function(){
				$(".lang div").hide()
			})
			
			function switchLanguage(language){
				var storage = window.localStorage;
				storage.setItem("localLang", language);					
				window.location.href="/homepage/extract?lang="+language;
			}	

			function downloadWhitePaper(){
				var storage = window.localStorage;
				var lang = storage.getItem("localLang");
		    	location.href="/login/downloadwhitepaper?language="+lang;
		  }			
			jQuery.validator.addMethod("isUser", function(value, element) {   
			    var user = /^([1-5a-z]{12})+$/;
			    return this.optional(element) || (user.test(value));
			}, "请正确填写您的账户");
			jQuery.validator.addMethod("isTag", function(value, element) {   
			    var user = /^(\w)+$/;
			    return this.optional(element) || (user.test(value));
			}, "请正确填写您的标签");
			$("#extract").validate({
				errorElement:"span",
				errorContainer: "span.errorcode",
				errorLabelContainer: $(".con6 span.errorcode"),
				debug:true,
			    rules: {
			      user:{
			      	required:true,
			      	isUser:true
			      },
			      tag:{
			      	required:true,
			      	isTag:true
			      },
			      amount:{
			      	required:true,
			      	max:mon
			      }
			     },
			     messages: {
			      user:{
			      	required:"请输入EOS账户！",
			        isUser:"请正确填写您的账户"
			      },
			       tag:{
			      	required:"请输入标签！",
			        isUser:"请正确填写您的标签"
			      },
			      amount:{
			      	required:"请输入提币数量",
			      	max:"不能超过最大数额"
			      }
			     },
			     showErrors:function(errorMap,errorList){
                   if(errorList.length!=0){
                      $(".con6 span.errorcode").empty().text(errorList[0].message);
                       }
              },
              submitHandler : function(form) {
                   $(".blk2").css("display","table");
                   $(".record2>div").hide();
                   $(".tips2").show()
              }
			})
			function jumpLogout(){
				var storage = window.localStorage;
				var lang = storage.getItem("localLang");
				window.location.href="/login/logOut.html?lang="+lang;
			}	
			
			function back(){
				location='/homepage/index.html?lang='+window.localStorage.getItem("localLang");
			}
			
			$("#cancel,#back").click(function(){
				back();
			})
			
		</script>
	</body>
</html>