<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>EOSHOS</title>		
		<#include "/admin/common/top.html">
	</head>
	<body>
		<div class="indexMain">
			<div class="header">
				<a class="logo" href="/login/Bw8gJkU6YXj.html?lang="><img src="/static/images/logo.png"/></a>
				<div class="logo_right">					
					<a href="/enroll/index.html?lang=" class="log">${common1}</a><span>|</span><a href="/login/login.html?lang=" class="landed">${common2}</a>
					<div>
					    <p><#if localLang??&&localLang=='en'>English<#else>繁體中文</#if><img src="/static/images/jt.png"/></p>
					    <span>English</span>
					    <span>繁體中文</span>
					</div>
				</div>
			</div>
			<div class="loginin">
				<div class="indexTitle">
					<h2><p>${common3_1}<br>${common3_2}</p></h2>
					<p>${common5_1}${common5_2}${common5_3}${common5_4}${common5_5}</p>
				</div>
				<form action="" id="loginForm" autocomplete="off">
					<ul>
						<a href="/login/login.html?lang=" class="back"><&nbsp;返回</a>
						<li><input type="tel" name="phone" maxlength="11" placeholder="${common6_1}" id="phone"/></li>
						<!--li><input type="text" placeholder="${common6_2}" id="txyzm" name="txyzm"/><img style="position: relative;bottom: -7px;" src="/static/images/tx.jpg" alt="" /></li-->
						<li><input type="text" id="valicode" name="valicode" placeholder="${common6_2}"  maxlength=4>
						<img id="codeImg" src="/login/validimg.html" onclick="this.src='/login/validimg.html?t=' + Math.random();" alt="${common6_5}" />
						</li>
						<li><input type="text" placeholder="${common6_4}" id="phoneValidationCode" name="phoneValidationCode"/><a href="javascript:;" class="checktime">${common8}</a></li>
						<li><input type="password" placeholder="${common7}" id="password" name="password"/><img class="eye" src="/static/images/eye.png"  alt="" /></li>
						<div class="tips"></div>
						<p class="btn"><a href="/enroll/index.html?lang=" class="land">${common6_3}</a><input class="login" type="submit" onclick="doSubmit()" value="${common42}"></p>
					</ul>	
				</form>
			</div>
			<div class="introduction">
				<div>
					<img src="/static/images/01.png" alt="" />
					<h3>${common20}</h3>
					<p>${common20_1}</p>
				</div>
				<div>
					<img src="/static/images/02.png" alt="" />
					<h3>${common21}</h3>
					<p>${common21_1}<br>
						${common21_2}<br>
						${common21_3}
					</p>
				</div>
				<div>
					<img src="/static/images/03.png" alt="" />
					<h3>${common22}</h3>
					<p>${common22_1}<br>
						${common22_2}<br>
						${common22_3}</p>
				</div>
			</div>
		</div>
		<canvas id="bgCanvas"></canvas>
		<script>
			localLang = "${localLang}";
			var storage = window.localStorage;
			var lang = storage.getItem("localLang");
			language($(".back")) 
			language($(".log")) 
			language($(".landed")) 
			language($(".land")) 
			language($(".logo")) 
			var b=true;
			$(".eye").click(function(){
				if(b){
					$(this).attr("src","/static/images/eyeopen.png");
					$("input[name=password]").attr("type","text")
				}else{
					$(this).attr("src","/static/images/eye.png");
					$("input[name=password]").attr("type","password")
				}
                b=!b;
			})
			$(".logo_right div").hover(function(){
				$(this).css({"border":"1px solid #2e34f2","height":"105px"}).find("span").show();		
			},function(){
				$(this).css({"border":"none","height":"40px"}).find("span").hide();
			})
			$(".logo_right div span").click(function(){
					var lang=$(this).html();
					$(".logo_right").find("p").html(lang+"<img src='/static/images/jt.png'/>");
					$(".logo_right div").css("border","none").find("span").hide();
					if (lang == 'English'){
						localLang = 'en';
					} else {
						localLang = 'zh';
					}
					var storage = window.localStorage;
					storage.setItem("localLang", localLang);	
					window.location.href="/login/repassword.html?lang=" + localLang ;					
			})
			//倒计时
			$(".checktime").on("click",getpass)
			
			$("#loginForm input").focus(function(){
				 	$(this).parent().addClass("active");
				 })
		    $("#loginForm input").blur(function(){		 
		    	if($(".error").is(':visible')){
		    		$(this).parent().addClass("err")
		    	}else{
		    		$(this).parent().removeClass("err")
		    		$(this).parent().removeClass("active");
		    	}
		    })
			$("#loginForm").validate({
				errorElement:"em",
				debug:true,
				 onkeydown:true,
				   rules: {
				      phone: {
				        required: true,
				        minlength: 11
				      },
				      valicode:"required",
				      phoneValidationCode:"required",
				      password: {
				        required: true,
				        minlength: 6
				      },
				      check: "required"
				    },
				    messages: {
				      phone:{
				      	required:"${common6_1}",
				        minlength:"${common18_1}"
				      },
				      valicode: "${common6_2}",
				      phoneValidationCode: "${common6_4}",
				      password: {
				        required: "${common18_2}",
				        minlength: "${common18_3}"
				      },			
				      check: "${common19}",
				    }
				   })
				   
			
			function doSubmit() {
				if ($('#phone').val() == "") {
					return;
				}
				if ($('#valicode').val() == "") {
					return;
				}
				if ($('#phoneValidationCode').val() == "") {
					return;
				}
				if ($('#password').val() == "") {
					return;
				}
				if ($('#check').val() == "") {
					return;
				}
				var form = new FormData()
				form.append("valicode", $('#valicode').val());
				form.append("hosUser.phone", $('#phone').val());
				form.append("hosUser.phoneValidationCode", $(
						'#phoneValidationCode').val());
				form.append("hosUser.password", $('#password').val());
				console.log(form);

				$.ajax({
					url : "/login/password",
					type : "post",
					data : form,
					processData : false,
					contentType : false,
					success : function(data) {
						console.log(data);
						data = JSON.parse(data);
						if (data.errorCode == '0000') {
							var storage = window.localStorage;
							var lang = storage.getItem("localLang");
							location='/login/login.html?lang=' + lang;
						} else {
							if (data.errorCode == '9998') {
								$(".tips").html('${common30}');
							} else if (data.errorCode == '9997') {
								$(".tips").html('${common31}');
							} else if (data.errorCode == '9996') {
								$(".tips").html('${common32}');
							} else if (data.errorCode == '9995') {
								$(".tips").html('${common33}');
							} else if (data.errorCode == '9994') {
								$(".tips").html('${common34}');
							} else if (data.errorCode == '9993') {
								$(".tips").html('${common35}');
							} else if (data.errorCode == '9992') {
								$(".tips").html('${common36}');
							} else if (data.errorCode == '9991') {
								$(".tips").html('${common37}');
							} else if (data.errorCode == '9990') {
								$(".tips").html('${common38}');
							} else if (data.errorCode == '9989') {
								$(".tips").html('${common39}');
							} else if (data.errorCode == '9988') {
								$(".tips").html('${common18_1}');
							} else if (data.errorCode == '9987') {
								$(".tips").html('${common14}');
							} else {
								$(".tips").html("Exception of Request");
							}
						}
					}
				});

			}
		</script>
	</body>
</html>
