<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.eoshos.console.simple.dao.mapper.HosUserAccountTransMapper">

	<sql id="Base_Column_List">
		id,user_id,dc_flag,trans_type,other_user_id,coin_number,coin_bal,stat,notes,gmt_created,gmt_modified
	</sql>
	
	<sql id="Insert_Column_List">
		user_id,dc_flag,trans_type,other_user_id,coin_number,coin_bal,stat,notes,gmt_created,gmt_modified
	</sql>

	<insert id="insert" parameterType="io.eoshos.console.simple.bean.po.HosUserAccountTrans"
		useGeneratedKeys="true" keyProperty="id">
		insert into hos_user_account_trans (
		<include refid="Insert_Column_List" />
		) values (
		#{userId},#{dcFlag},#{transType},#{otherUserId},#{coinNumber},#{coinBal},#{stat},#{notes},unix_timestamp(sysdate()),0
		)
	</insert>

	<!-- 本方法暂没启用 -->
	<update id="update" parameterType="io.eoshos.console.simple.bean.po.HosUserAccountTrans">
		<!--
		update hos_user_account_trans
		<set>
			gmt_modified = unix_timestamp(sysdate()),
			<if test="userId != null">
				user_id = #{userId},
			</if>
			<if test="dcFlag != null">
				dc_flag = #{dcFlag},
			</if>
			<if test="transType != null">
				trans_type = #{transType},
			</if>
			<if test="otherUserId != null">
				other_user_id = #{otherUserId},
			</if>
			<if test="coinNumber != null">
				coin_number = #{coinNumber},
			</if>
			<if test="coinBal != null">
				coin_bal = #{coinBal},
			</if>
			<if test="stat != null">
				stat = #{stat},
			</if>
		</set>
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="userId != null">
			and user_id = #{userId}
		</if>
		-->
	</update>

	<delete id="delete" parameterType="io.eoshos.console.simple.bean.dto.HosUserAccountTransDto">
		delete from hos_user_account_trans 
		where user_id = #{userId}
	</delete>

	<select id="getObject" parameterType="io.eoshos.console.simple.bean.dto.HosUserAccountTransDto"
		resultType="io.eoshos.console.simple.bean.vo.HosUserAccountTransVo">
		select
		<include refid="Base_Column_List" />,
		from_unixtime(gmt_created, '%Y-%m-%d %H:%i:%S') gmtCreatedStr,
		from_unixtime(gmt_modified, '%Y-%m-%d %H:%i:%S') gmtModifiedStr
		from hos_user_account_trans
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
	</select>
	
	<select id="getFirstObject" parameterType="io.eoshos.console.simple.bean.dto.HosUserAccountTransDto"
		resultType="io.eoshos.console.simple.bean.vo.HosUserAccountTransVo">
		select
		<include refid="Base_Column_List" />,
		from_unixtime(gmt_created, '%Y-%m-%d %H:%i:%S') gmtCreatedStr,
		from_unixtime(gmt_modified, '%Y-%m-%d %H:%i:%S') gmtModifiedStr
		from hos_user_account_trans
		where 1=1
		<if test="userId != null">
			and user_id = #{userId}
		</if>
		order by id asc 
		limit 1
	</select>	

	<select id="listAllObjects" parameterType="io.eoshos.console.simple.bean.dto.HosUserAccountTransDto"
		resultType="io.eoshos.console.simple.bean.vo.HosUserAccountTransVo">
		select
		<include refid="Base_Column_List" />,
		from_unixtime(gmt_created, '%Y-%m-%d %H:%i:%S') gmtCreatedStr,
		from_unixtime(gmt_modified, '%Y-%m-%d %H:%i:%S') gmtModifiedStr
		from hos_user_account_trans
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="userId != null">
			and user_id = #{userId}
		</if>
		order by id desc

	</select>

	<select id="listPagingObjects" parameterType="io.eoshos.console.simple.bean.dto.HosUserAccountTransDto"
		resultType="io.eoshos.console.simple.bean.vo.HosUserAccountTransVo">
		select
		<include refid="Base_Column_List" />,
		from_unixtime(gmt_created, '%Y-%m-%d %H:%i:%S') gmtCreatedStr,
		from_unixtime(gmt_modified, '%Y-%m-%d %H:%i:%S') gmtModifiedStr		
		from hos_user_account_trans
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="userId != null">
			and user_id = #{userId}
		</if>
		order by id desc
		limit #{offset},#{limit}
	</select>

	<select id="countObjects" parameterType="io.eoshos.console.simple.bean.dto.HosUserAccountTransDto"
		resultType="java.lang.Integer">
		select count(id) from hos_user_account_trans
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="userId != null">
			and user_id = #{userId}
		</if>
	</select>
	
	<sql id="page_sql1">
		select t1.id,t1.coin_number,t2.full_file_name,t2.thumbnail_file_name,t1.notes,
		from_unixtime(gmt_created, '%Y-%m-%d %H:%i:%S') gmtCreatedStr
		from hos_user_account_trans t1 
		left join (
		select user_id,trans_id,
		group_concat(full_file_name) full_file_name,
		group_concat(thumbnail_file_name) thumbnail_file_name 
		from hos_user_task_attachment group by user_id,trans_id) t2
		on t1.id = t2.trans_id
		where 1=1
		<if test="userId != null">
			and t1.user_id = #{userId}
		</if>
	</sql>	
	
	<select id="listPagingObjects1" parameterType="io.eoshos.console.simple.bean.dto.HosUserAccountTransDto"
		resultType="io.eoshos.console.simple.bean.vo.HosUserAccountTransVo">
		<include refid="page_sql1" />
		order by t1.id desc
		limit #{offset},#{limit}
	</select>

	<select id="countObjects1" parameterType="io.eoshos.console.simple.bean.dto.HosUserAccountTransDto"
		resultType="java.lang.Integer">
		select count(t.id) from (<include refid="page_sql1" />) t
	</select>	

</mapper>