<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.eoshos.console.simple.dao.mapper.HosUserTaskAttachmentMapper">

	<sql id="Base_Column_List">
		id,user_id,staff_id,staff_name,file_name,full_file_name,thumbnail_file_name,notes,gmt_created,gmt_modified
	</sql>
	
	<sql id="Insert_Column_List">
		user_id,file_name,full_file_name,thumbnail_file_name,notes,gmt_created,gmt_modified
	</sql>

	<insert id="insert" parameterType="io.eoshos.console.simple.bean.po.HosUserTaskAttachment"
		useGeneratedKeys="true" keyProperty="id">
		insert into hos_user_task_attachment (<include refid="Insert_Column_List" />) values 
		(
		#{userId},#{fileName},#{fullFileName},#{thumbnailFileName},#{notes},unix_timestamp(sysdate()),0
		)
	</insert>

	<update id="update" parameterType="io.eoshos.console.simple.bean.po.HosUserTaskAttachment">
		update hos_user_task_attachment
		<set>
			gmt_modified = unix_timestamp(sysdate()),
			<if test="userId != null">
				user_id = #{userId},
			</if>			
			<if test="fileName != null">
				file_name = #{fileName},
			</if>
			<if test="fullFileName != null">
				full_file_name = #{fullFileName},
			</if>
			<if test="thumbnailFileName != null">
				thumbnail_file_name = #{thumbnailFileName},
			</if>
		</set>
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="fullFileName != null">
			and full_file_name = #{fullFileName}
		</if>		
	</update>
	
	<update id="updateTradeId" parameterType="io.eoshos.console.simple.bean.po.HosUserAccountTrans">
		update hos_user_task_attachment  t1
		left join (select max(id) id, user_id  from hos_user_account_trans group by user_id)t2
		on t1.user_id = t2.user_id
		set	t1.gmt_modified = unix_timestamp(sysdate()),t1.trans_id = t2.id
		where 1=1
		<if test="userId != null">
			and t1.user_id = #{userId} and ifnull(t1.trans_id,0) = 0
		</if>
	</update>	

	<delete id="delete" parameterType="io.eoshos.console.simple.bean.dto.HosUserTaskAttachmentDto">
		delete from hos_user_task_attachment where id = #{id}
	</delete>

	<select id="getObject" parameterType="io.eoshos.console.simple.bean.dto.HosUserTaskAttachmentDto"
		resultType="io.eoshos.console.simple.bean.vo.HosUserTaskAttachmentVo">
		select
		<include refid="Base_Column_List" />
		from hos_user_task_attachment
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="fullFileName != null">
			and full_file_name = #{fullFileName}
		</if>			

	</select>

	<select id="listAllObjects" parameterType="io.eoshos.console.simple.bean.dto.HosUserTaskAttachmentDto"
		resultType="io.eoshos.console.simple.bean.vo.HosUserTaskAttachmentVo">
		select
		<include refid="Base_Column_List" />
		from hos_user_task_attachment
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="userId != null">
			and user_id = #{userId}
		</if>
		order by id desc

	</select>

	<select id="listPagingObjects" parameterType="io.eoshos.console.simple.bean.dto.HosUserTaskAttachmentDto"
		resultType="io.eoshos.console.simple.bean.vo.HosUserTaskAttachmentVo">
		select
		<include refid="Base_Column_List" />
		from hos_user
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="userId != null">
			and user_id = #{userId}
		</if>
		order by id desc
		limit #{offset},#{limit}
	</select>

	<select id="countObjects" parameterType="io.eoshos.console.simple.bean.dto.HosUserTaskAttachmentDto"
		resultType="java.lang.Integer">
		select count(id) from hos_user
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="userId != null">
			and user_id = #{userId}
		</if>
	</select>

</mapper>