<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.eoshos.console.simple.dao.mapper.HosUserInviteMapper">

	<sql id="Base_Column_List">
		invite_level,user_id,phone,invite_user_id,invite_phone,coin_reward,stat,oper_ip,gmt_created,gmt_modified
	</sql>
	
	<sql id="Insert_Column_List">
		invite_level,user_id,phone,invite_user_id,invite_phone,coin_reward,stat,oper_ip,gmt_created,gmt_modified
	</sql>

	<insert id="insert" parameterType="io.eoshos.console.simple.bean.po.HosUserInvite"
		useGeneratedKeys="true" keyProperty="id">
		insert into hos_user_invite (
		<include refid="Insert_Column_List" />
		) values (
		#{inviteLevel},#{userId},#{phone},#{inviteUserId},#{invitePhone},#{coinReward},#{stat},#{operIp},unix_timestamp(sysdate()),0
		)
	</insert>

	<update id="update" parameterType="io.eoshos.console.simple.bean.po.HosUserInvite">
		update hos_user_invite
		<set>
			gmt_modified = unix_timestamp(sysdate()),
			<if test="inviteLevel != null">
				invite_level = #{inviteLevel},
			</if>
			<if test="userId != null">
				user_id = #{userId},
			</if>
			<if test="phone != null">
				phone = #{phone},
			</if>
			<if test="inviteUserId != null">
				invite_user_id = #{inviteUserId},
			</if>
			<if test="invitePhone != null">
				invite_phone = #{invitePhone},
			</if>
			<if test="coinReward != null">
				coin_reward = #{coinReward},
			</if>
			<if test="stat != null">
				stat = #{stat},
			</if>
			<if test="operIp != null">
				oper_ip = #{operIp},
			</if>
		</set>
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="userId != null">
			and user_id = #{userId}
		</if>
		<if test="inviteUserId != null">
			and invite_user_id = #{inviteUserId}
		</if>
	</update>

	<delete id="delete" parameterType="io.eoshos.console.simple.bean.dto.HosUserInviteDto">
		delete from hos_user_invite 
		where user_id = #{userId}
	</delete>

	<select id="getObject" parameterType="io.eoshos.console.simple.bean.dto.HosUserInviteDto"
		resultType="io.eoshos.console.simple.bean.vo.HosUserInviteVo">
		select id,<include refid="Base_Column_List" />
		from hos_user_invite
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="userId != null">
			and user_id = #{userId}
		</if>
		<if test="inviteUserId != null">
			and invite_user_id = #{inviteUserId}
		</if>		

	</select>

	<select id="listAllObjects" parameterType="io.eoshos.console.simple.bean.dto.HosUserInviteDto"
		resultType="io.eoshos.console.simple.bean.vo.HosUserInviteVo">
		select t1.id,t1.invite_level,t1.user_id,t1.phone,t1.invite_user_id,t1.invite_phone,
		t1.coin_reward,t1.stat,t1.oper_ip,t1.gmt_created,t1.gmt_modified,t2.real_stat inviteUserRealStat
		from hos_user_invite t1
		left join hos_user t2 on t1.invite_user_id=t2.id
		where 1=1
		<if test="id != null">
			and t1.id = #{id}
		</if>
		<if test="userId != null">
			and t1.user_id = #{userId}
		</if>
		order by t1.id desc

	</select>

	<select id="listPagingObjects" parameterType="io.eoshos.console.simple.bean.dto.HosUserInviteDto"
		resultType="io.eoshos.console.simple.bean.vo.HosUserInviteVo">
		select id,<include refid="Base_Column_List" />
		from hos_user_invite
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="userId != null">
			and user_id = #{userId}
		</if>
		order by id desc
		limit #{offset},#{limit}
	</select>

	<select id="countObjects" parameterType="io.eoshos.console.simple.bean.dto.HosUserInviteDto"
		resultType="java.lang.Integer">
		select count(id) from hos_user_invite
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="userId != null">
			and user_id = #{userId}
		</if>
	</select>

</mapper>