

a:hover{text-decoration: none;}
.rmsMain{position:absolute;top:0;bottom:0;left:0;right:0;background-color: #f5f5f5;}
.rmsHeader{height: 70px;background-color: #fff;border-bottom: 1px solid #eee;}
.rmsHeader .rmsLogo{float: left;background-color: #559ffa;height: 100%;background-color: #559ffa;}
.rmsHeader .rmsNav{float: left;margin-left: 20px;}
.rmsHeader .rmsNav a{display: inline-block;font-size: 12px;color: #999;padding:14px 20px;line-height: 1;}
.rmsHeader .rmsNav a:hover,.rmsHeader .rmsNav a.active{color:#559ffa;}
.rmsHeader .rmsNav a span{display: block;height: 24px;background-size: auto 100%;background-position: center;background-repeat: no-repeat;margin-bottom: 6px;}
.rmsHeader .rmsNav a .icon1{background-image: url(../images/ico1.png);}
.rmsHeader .rmsNav a .icon2{background-image: url(../images/ico2.png);}
.rmsHeader .rmsNav a .icon3{background-image: url(../images/ico3.png);}
.rmsHeader .rmsNav a .icon4{background-image: url(../images/ico4.png);}
.rmsHeader .rmsNav a .icon5{background-image: url(../images/ico5.png);}
.rmsHeader .rmsNav a .icon6{background-image: url(../images/ico6.png);}
.rmsHeader .rmsNav a .icon7{background-image: url(../images/ico7.png);}

.rmsHeader .rmsNav a:hover .icon1,.rmsHeader .rmsNav a.active .icon1{background-image: url(../images/icoHover1.png);}
.rmsHeader .rmsNav a:hover .icon2,.rmsHeader .rmsNav a.active .icon2{background-image: url(../images/icoHover2.png);}
.rmsHeader .rmsNav a:hover .icon3,.rmsHeader .rmsNav a.active .icon3{background-image: url(../images/icoHover3.png);}
.rmsHeader .rmsNav a:hover .icon4,.rmsHeader .rmsNav a.active .icon4{background-image: url(../images/icoHover4.png);}
.rmsHeader .rmsNav a:hover .icon5,.rmsHeader .rmsNav a.active .icon5{background-image: url(../images/icoHover5.png);}
.rmsHeader .rmsNav a:hover .icon6,.rmsHeader .rmsNav a.active .icon6{background-image: url(../images/icoHover6.png);}
.rmsHeader .rmsNav a:hover .icon7,.rmsHeader .rmsNav a.active .icon7{background-image: url(../images/icoHover7.png);}

.rmsHeader .userInfo{float: right;padding: 18px 30px 10px 30px;cursor: pointer;position: relative;}
.rmsHeader .userInfo .userImg{float: left;height: 32px;border-radius: 100%;margin-right: 10px;}
.rmsHeader .userInfo .userName{float: left;line-height: 32px;}
.rmsHeader .userInfo .userName .iconfont{color: #999;margin-left: 6px;font-size: 12px;}
.rmsHeader .userInfo:hover .userSet{display: block;z-index: 999;}
.rmsHeader .userSet{position: absolute;top: 58px;right: 30px;border: 1px solid #eee;box-shadow: 0 5px 10px #eee;display:none;}
.rmsHeader .userSet li{font-size: 14px;line-height: 36px;padding: 0 20px;background-color: #fff;border-bottom:1px solid #eee;}
.rmsHeader .userSet li a{color:#333;}
.rmsHeader .userSet li a:hover{color:#559ffa;}

.rmsLeft{position: absolute;left: 0;bottom: 0;top: 70px;background-color: #fff;width: 0px;padding-top: 15px;overflow: hidden;}
.rmsLnav a{color:#333;display: block;line-height: 40px;font-size: 12px;text-indent: 2em;border-left: 2px solid #fff;}
.rmsLnav li{display: none;}
.rmsLnav a:hover,.rmsLnav li.active>a{border-color:#559ffa;background-color:#f0f7ff;color:#559ffa;}
.rmsLnav .navChild{padding-left: 10px;background-color: #fafafa;display: none;}
.rmsLnav .navChild>li>a:hover,.rmsLnav .navChild>li.active>a{color:#559ffa;background: none;border: none;}

.rmsRight{position: absolute;left:16px;bottom:16px;right: 16px;top: 86px;}
.rmsOpen .rmsLeft{width: 180px;transition: all .3s;-moz-transition:all .3s;-webkit-transition: all .3s;}
.rmsOpen .rmsRight{left: 196px;transition: all .3s;-moz-transition:all .3s;-webkit-transition: all .3s;}
.layui-layer-title{background-color: #fff; height: 50px;font-weight: bold;line-height: 50px;}

@media all and (-ms-high-contrast:none){
  .rmsMain{border:2px solid #fff;}
}

/*@media (min-width: 1900px){
	.rmsHeader{height: 98px;}
	.rmsLeft{top: 98px;}
	.rmsRight{top: 118px;}
	.rmsHeader .rmsLogo{padding-top: 14px;}
	.rmsHeader .rmsNav{padding-top: 14px;}
	.rmsHeader .userInfo{padding-top: 24px;}
}*/