@font-face {
    font-family: "hosFont";
    src: url("eosHos.eot"); /* IE9 */
    src: url("eosHos.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("eosHos.woff") format("woff"), /* chrome, firefox */
    url("eosHos.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("eosHos.svg#DIN Neuzeit Grotesk Std Light") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "hosNum";
    src: url("hosNum.eot"); /* IE9 */
    src: url("hosNum.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("hosNum.woff") format("woff"), /* chrome, firefox */
    url("hosNum.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("hosNum.svg#DIN Neuzeit Grotesk Std Light") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


