<!DOCTYPE html>
<html>
	<head>
		<#include "/wap/common/top.html">
		<title>提币</title>
	</head>
	<body style="background: #fff;">
		<input type="hidden" name="phone" id="phone" value="${phone}"/>
		<div class="realTop">
			<a href="javascript:history.back(-1)" class="return"><img src="/static-wap/images/hsBtn.jpg"/></a>
			提币
		</div>
		<div class="heigh3"></div>
		<div class="getcon">
			<div class="tab">
			    <a href="javascript:" class="active">提币到个人账户</a><a href="javascript:">提币到交易所</a>						
			</div>
			<form action="" id="extract" autocomplete="off">
				<div class="getall">
					<label>可用</label><span>10000.00</span>HOS
				</div>
				<div>
					<label for="userName">提币账户</label>
					<input type="text" placeholder="请输入EOS账户" id="userName" name="userName" maxlength="12" onblur="checkForm('userName')" />
				</div>
				<div class="tag">
					<label for="tagName">标签</label>
					<input type="text" placeholder="请务必指定Tag 或 Memo，否则无法入账" id="tagName" name="tagName"  onblur="checkForm('tagName')" />
				</div>
				<div>
					<label for="amount">数量</label>
					<input type="text" placeholder="最小提币数量10.00HOS" id="amount" name="amount"  onblur="checkForm('amount')" /><a href="javascript:" class="all">全部</a>
				</div>
				<a href="javascript:" class="submit" onclick="doSubmit()"/>提币</a>
			</form>
		</div>
		<div class="safewrap">
			<div class="verify">
					<h3><img onclick="shut()" src="/static-wap/images/left.png" alt="" />安全验证</h3>
					<form id="playFrom">						
						<div>		
						    <input type="tel" placeholder="输入短信验证码（尾号1234）" maxlength="4" name="phonecode" id="phonecode_form"/>
						    <a href="javascript:" class="checktime" onclick="getPhoneCode()">获取验证码</a>
						</div>							
						<a href="javascript:" class="submit">确定</a>
					</form>
				</div>
			</div>
		<script type="text/javascript">
			function getPhoneCode(){
				var countDown = 60;
				$('.checktime').html(countDown + '秒后重发').css("pointer-events","none");
				var timer = setInterval(function() {
					countDown--;
					if (countDown) {
						$('.checktime').html(countDown + '秒后重发');
					} else {
						clearInterval(timer);
						$('.checktime').html('获取验证码').css("pointer-events","auto").bind("click",getPhoneCode);
					}
				}, 1000);
			}
			function shut(){
				$(".safewrap").hide()
				$(".verify").css("left","100%");
				$("#playFrom div input").val("")
			}
			 var mon=parseInt($(".getall span").html());
			 $(".all").click(function(){
			 	$("input[name=amount]").val(mon)
			 })
			$(".tab a").click(function(){
				$(this).addClass("active").siblings().removeClass("active");
			})
			$(".tab a:first-child").click(function(){
				$(".tag").hide();
			})
			$(".tab a:nth-child(2)").click(function(){
				$(".tag").show();
			})
			//按语言喜好重定向
			var storage = window.localStorage;
			if (!storage.getItem("localLang")){
				storage.setItem("localLang", 'en');
			}		
			var thisurl = window.location.href;
			if (thisurl.indexOf(storage.getItem("localLang")) < 0){
				window.location.href="/homepage/auth?devtype=wap&lang=" + storage.getItem("localLang");
			}	
		
			var num=0;
			var w=$('.upfilePic ul').width();
			function UpladFile(obj) {
	            var fileObj = obj.files[0];
	            var imgSize=(fileObj.size/1024);
	            if(imgSize>5120){
	            	ck.msg({'content':'${verification_7}','time':1,'shade':false,'styleName':'msgWrite'});
	            	obj.value = '';
	            }else{
	            	var scale=800/imgSize;
	            	scale=parseFloat(scale.toFixed(1));
	           		photoCompress(fileObj, {quality:scale,width:800},obj);
	            }
	        }
			function doSubmit(){
				if($(".tag").is(':visible')){
					if(!(checkForm('userName') && checkForm('amount') && checkForm('tagName'))){
					     return;
				    }
				}else{
					if(!(checkForm('userName') && checkForm('amount'))){
					     return;
				    }
				}	
				$(".safewrap").show();
				$(".verify").css("left","0");
				console.log('提交成功！');
			}
		</script>
	</body>
</html>