<!DOCTYPE html>
<html>
	<head>
		<#include "/wap/common/top.html">
		<title>EOSHOS</title>
	</head>
	<body class="bodyBg">
		<div class="hosTop hosWrite">
			<a class="logo" href="javascript:;"></a>
			<a class="rightBtn" href="javascript:;"></a>
		</div>
		<div class="topH"></div>
		<div class="userInfo">
			<h2 class="title">${homepage_1}${userName}</h2>
			<a class="toRule" href="javascript:;" onclick="auth()">
				<#if realStat == '0'>  
					${homepage_2}
				<#elseif realStat == '1'>  
					${homepage_2_1}
				<#elseif realStat == '2'>  
					${homepage_2_2}
				<#elseif realStat == '3'>  
					${homepage_2_3}
				<#else> 	
				</#if>													
			</a>
			<h3 class="yqmTit">${homepage_3}</h3>
			<div id="copyTxt" class="yqm"></div>
			<span onclick="copyTxt('.copy','#copyTxt')" class="copy">${homepage_4}</span>
			<ul class="btnBox">
				<li onclick="showShare('popShare')">${homepage_6}</li>
				<li onclick="showShare('popHaibao')">${homepage_7}</li>
				<li onclick="showShare('popInvent')">${homepage_5}</li>
			</ul>
		</div>
		<div class="userMoney">
			<h2 class="userTit">${homepage_10}<a href="javascript:;" class="asset" onclick="asset()">${homepage_23}></a></h2>
			<p class="money">${coinTotal}</p>
			<p class="count">
				<i>${homepage_24} <small class="num2">${coinAvailable}</small></i><i>${homepage_25} <small class="num3">${coinFreeze}</small><span onclick="showShare('tft')">i</span></i>
			</p>
			<p class="txt"><a href="javascript:" onclick="showShare('getcoin')">${homepage_32}</a></p>
		</div>
		<div class="userTask">
			<h2 class="userTit"><a onclick="showShare('popTask')" class="look" href="javascript:;">${homepage_12_1}</a>${homepage_12}</h2>
			<ul>
				<li>${homepage_13}</li>
				<li>${homepage_14}</li>
				<li>${homepage_15}</li>
				<li>${homepage_16}</li>
			</ul>
		</div>
		<div class="userTrans">
			<h2 class="userTit"><a class="look" href="/browser/">${homepage_35}</a>${homepage_17_1}</h2>
			<div id="hashList" class="hashList">
				<!--<p class="noData">${homepage_17}</p>-->
			</div>
			<div class="assetbtn">
				<a onclick="loadMore()">${homepage_34}</a>
			</div>
		</div>
		<div class="hosPop" id="popShare">
			<div class="shareBig">
				<div id="yqLink">http://www.baidu.com</div>
				<div class="tip">${homepage_19_1}<span class="copyUrl" onclick="copyTxt('.copyUrl','#yqLink')">${homepage_19_2}</span></div>
				<div id="share"></div>
			</div>
			<button onclick="closePop()" class="closeBtn" type="button">${homepage_20}</button>
		</div>
		<div style="padding-bottom: 4rem;" class="hosPop" id="popHaibao">
			<div class="haibaoPic">
				<img class="hb" src="/static-wap/images/<#if localLang??&&localLang=='en'>hbPicEn.png<#else>hbPic.png</#if>"/>
				<div id="picEwm" class="picEwm">
					<!-- <img src="/static-wap/images/byEwm.png"> -->
				</div>
			</div>
			<div class="timing">
				<span class="timeHide">${homepage_22}</span>
			</div>
		</div>
		<div class="hosPop" id="popInvent">
			<div class="invent">
				<div class="title">
					<h2>${invitationpage_1}<span>${invitationpage_2_1} ${numberInvite} ${invitationpage_2_2} ${numberReward} ${invitationpage_2_3}</span></h2>
				</div>
				<ul class="inventTop">
					<li class="w12">${invitationpage_3_1}</li>
					<li class="w22">${invitationpage_3_2}</li>
					<li class="w26">${invitationpage_3_3}</li>
					<li>${invitationpage_3_4}</li>
				</ul>
				<div class="scrollBox">
					<!--table id = "listInvite">	
					</table-->
					<div id = "listInvite" class="inventList">
						<!--ul>
							<li class="w12">1</li>
							<li class="w22">143****1234</li>
							<li class="w26">500</li>
							<li>2018-05-24  11:16:36</li>
						</ul>
						<ul>
							<li>1</li>
							<li>143****1234</li>
							<li>500</li>
							<li>2018-05-24  11:16:36</li>
						</ul-->
					</div>
					<!--没有邀请记录状态-->
					<!--<div class="noData">
						暂无邀请记录
					</div>-->
				</div>
			</div>
			<button onclick="closePop()" class="closeBtn" type="button">${homepage_21}</button>
		</div>
		<div class="hosPop" id="popTask">
			<div class="taskIn">
				<h2 class="title">${taskpage_0}</h2>
				<ul>
					<li><span>${taskpage_1_1}</span>${taskpage_1_2}</li>
					<li><span>${taskpage_2_1}</span>${taskpage_2_2_1}<br>${taskpage_2_2_2}<br>${taskpage_2_2_3}</li>
					<li><span>${taskpage_3_1}</span>${taskpage_3_2}</li>
					<li><span>${taskpage_4_1}</span>${taskpage_4_2}</li>
				</ul>
				<div class="scan">
					<div class="box">
						<img class="ewmPic" src="/static-wap/images/wxgzh1.jpg"/>
						<p>${taskpage_5_1}</p>
					</div>
					<div class="box">
						<img class="ewmPic" src="/static-wap/images/wxgzh2.jpg"/>
						<p>${taskpage_5_2}</p>
					</div>
				</div>
			</div>
			<button onclick="closePop()" class="closeBtn" type="button">${homepage_21}</button>
		</div>
		<div class="hosPop" id="tft">
			<div class="taskIn">
				<h2>${homepage_33}</h2>
				<p>${homepage_26}</p>
			</div>
			<button onclick="closePop()" class="closeBtn" type="button">${homepage_21}</button>
		</div>
		<div class="hosPop" id="getcoin">
			<div class="taskIn">
				<h2>${homepage_36}</h2>
				<p>${homepage_37}</p>
			</div>
			<button onclick="closePop()" class="closeBtn" type="button">${homepage_21}</button>
		</div>
		<div class="hosPop" id="getcoin2">
			<div class="taskIn">
				<h2>${homepage_36}</h2>
				<p>${homepage_41}</p>
			</div>
			<button onclick="closePop()" class="closeBtn" type="button">${homepage_21}</button>
		</div>
		<div class="popNav">
			<div class="clickBg"></div>
			<div class="navList">
				<ul class="leftNav">
					<li><a href="javascript:;">${homepage_1_1}</a></li>
					<li><a href="javascript:;" onclick="downloadWhitePaper()">${common4}</a></li>
					<li><a href="javascript:;" onclick="jumpHomepage()">${homepage_1_2}</a></li>
					<li><a href="javascript:;" onclick="jumpLogout()">${homepage_1_3}</a></li>
				</ul>
				<div class="lanNavBox">
					<div class="select">English</div>
					<div class="lanLink">
						<a href="javascript:;" onclick="switchLanguage('en')">English</a>
						<a href="javascript:;" onclick="switchLanguage('zh')">繁体中文</a>
					</ul>
				</div>
			</div>
		</div>
		<div class="loading">
			<div class="in">
				<img src="/static-wap/images/loading.png"/>
				<p>loading···</p>
			</div>
		</div>
		<script src="/static-wap/js/clipboard.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static-wap/js/soshm.js" type="text/javascript" charset="utf-8"></script>
		<script>
			var num = 1;
			var size = 6;
			var len=0;
			loadData(num,size);
			function loadMore(){
				num++;
				loadData(num,size);
			}
			function loadData(num,size){
				$('.loading').show();
				$.ajax({
					url : "/homepage/myTrades?offset="+(num-1)*size+"&limit="+size+"&userId="+${userId},
					type : "post",
					processData : false,
					contentType : false,
					success : function(data) {
						data = JSON.parse(data);
						len=Math.ceil(data.total/size);
						if(len<1 || num>=len){
							$('.assetbtn').html('<p align="center" style="color:#bbbdc2;background:#f5f6fa;font-size:14px">${homepage_40}</p>');
						}
						if (data.errorCode = '0000') {
							var rows = data.rows;
							var html='';
							if(rows.length>0){
								for(var i = 0;i<rows.length;i++){
									var str=rows[i].txHash;
									str = str.substring(0,12)+'...';
									html+='<ul>'+
									'<li><span class="title">TxHash</span><a href="/browser/transactions/'+rows[i].txHash+'">'+str+'</a></li>'+
									'<li><span class="title">${homepage_18_1}</span>'+rows[i].blockId+'</td>'+
									'<li><span class="title">${homepage_18_2}</span>'+rows[i].gmtCreatedStr+'</td>'+
									'<li><span class="title">${homepage_18_3}</span><a href="/browser/accounts/'+rows[i].addrFrom+'">'+rows[i].addrFrom+'</a></li>'+
									'<li><span class="title">${homepage_18_4}</span><a href="/browser/accounts/'+rows[i].addrTo+'">'+rows[i].addrTo+'</a></li>'+
									'<li><span class="title">${homepage_18_5}</span>'+rows[i].coinNumber+'</li>'+
									'<li><span class="title">${withdraw_14}</span>'+rows[i].tag+'</li>'+
								'</ul>'
								}
								$('#hashList').append(html);
							}
						}
						$('.loading').hide()
					}
				});
			}
			$(".poi").click(function(){
				$(".point").css("opacity","1");
				
			})
			//按语言喜好重定向
			var storage = window.localStorage;
			if (!storage.getItem("localLang")){
				storage.setItem("localLang", 'en');
			}		
			var thisurl = window.location.href;
			if (thisurl.indexOf(storage.getItem("localLang")) < 0){
				window.location.href="/homepage/index.html?devtype=wap&lang=" + storage.getItem("localLang");
			}	
		
			var lang = window.localStorage.getItem('localLang');
			$('#copyTxt').html('${inviteCode}');
			$('#yqLink').html('https://eoshos.io/login/Bw8gJkU6YXj.html?devtype=wap&lang='+lang+'&inviteCode=${inviteCode}');
		
			$('#picEwm').append("<img class='ma' src='/homepage/getimage?phone=" + ${userName} + "_wap' alt=''/>");
			
			soshm('#share', {
				url: 'https://eoshos.io/login/Bw8gJkU6YXj.html?devtype=wap&lang='+lang+'&inviteCode=${inviteCode}',
			    title: '',
			    digest: '',
			    pic: '',
			    name:['${homepage_9_3}','${homepage_9}','${homepage_9_4}','${homepage_9_2}'],
			    sites: ['weixin', 'weixintimeline', 'qq', 'qzone']
			});
			function showShare(id){
				var withdraw_available = '${withdraw_available}';
				if(id=='getcoin' && "${realStat}" == "2"){
					if(withdraw_available == '1'){
						var storage = window.localStorage;
						var lang = storage.getItem("localLang") || 'zh';
						window.location.href="/homepage/withdraw.html?devtype=wap&lang="+lang;
						return;
					}
					id = 'getcoin2';
				}				
				$('#'+id).show();
				$('html,body').css({'height':'100%','overflow':'hidden'});
				if(id=='popHaibao'){
					$('.timeHide').show();
					setTimeout(function(){
						$('.timeHide').hide();
						$('.timing').on('click',closePop);
					},3000)
				}
				if(id=='popInvent'){
					listInvite();
				}
			}
			function closePop(){
				$('html,body').css({'height':'auto','overflow':'auto'});
				$('.hosPop').hide();
			}
			
			function numFor(obj){
		    	var n=parseFloat(obj.html());
		    	var n1=numFormat(n);
		    	obj.html(n1)
		    }
			
			numFor($(".money"));
			numFor($(".num2"));
			numFor($(".num3"));
			
		    function listInvite(){
				$.ajax({
					url : "/invite/listinvite",
					type : "post",
					processData : false,
					contentType : false,
					success : function(data) {
	   	        	 	data=JSON.parse(data);
						if(data.errorCode = '0000'){
							var rows = data.rows;
							var i = 0;
							$('#listInvite').empty();
							for(;i<rows.length;i++){
								//$('<tr><td>'+(i+1)+'</td><td>'+rows[i].invitePhone+'</td><td>'+rows[i].coinReward+'</td><td>'+rows[i].gmtCreatedStr+'</td></tr>').appendTo($('#listInvite'));
								$('<ul><li class="w12">'+(i+1)+'</li><li class="w22">'+rows[i].invitePhone+'</li><li class="w26">'+rows[i].coinReward+'</li><li>'+rows[i].gmtCreatedStr+'</li></ul>').appendTo($('#listInvite'));
							}
							if (rows.length == 0){
								$('#listInvite').attr("class", "noData");
							}
						}
					}
				});
			}			
			
			function jumpLogin(){
				var storage = window.localStorage;
				var lang = storage.getItem("localLang") || 'zh';
				window.location.href="/login/login.html?devtype=wap&lang="+lang;
			}			
			
			function jumpEnroll(){
				var storage = window.localStorage;
				var lang = storage.getItem("localLang") || 'zh';
				window.location.href="/enroll/index.html?devtype=wap&lang="+lang;
			}		
			
			function jumpHomepage(){
				var storage = window.localStorage;
				var lang = storage.getItem("localLang") || 'zh';
				window.location.href="/homepage/index.html?devtype=wap&lang="+lang;
			}
			function jumpLogout(){
				var storage = window.localStorage;
				var lang = storage.getItem("localLang");
				window.location.href="/login/logOut.html?devtype=wap&lang="+lang;
			}
			
			function auth(){
				var storage = window.localStorage;
				var lang = storage.getItem("localLang");
				var realStat = ${realStat};
				if (realStat == '0'){
		    		location.href="/homepage/auth?devtype=wap&lang="+lang;
				}
				if (realStat == '1'){
		    		location.href="/homepage/authing?devtype=wap&lang="+lang;
				}	
				if (realStat == '2'){
		    		location.href="/homepage/authed?devtype=wap&lang="+lang;
				}	
				if (realStat == '3'){
		    		location.href="/homepage/authfail?devtype=wap&lang="+lang;
				}				
		    }
			
			function asset(){
				var storage = window.localStorage;
				var lang = storage.getItem("localLang");
		    	location.href="/homepage/asset?devtype=wap&lang="+lang;
		    }			
			function switchLanguage(language){
				var storage = window.localStorage;
				storage.setItem("localLang", language);					
				window.location.href="/homepage/index.html?devtype=wap&lang=" + language ;
			}			
		</script>
	</body>
</html>
