<!DOCTYPE html>
<html>
	<head>
		<#include "/wap/common/top.html">
		<title>EOSHOS</title>
	</head>
	<body>
		<div class="hosTop">
			<a class="logo" href="javascript:;" onclick="jumpLogin()"></a>
			<a class="rightBtn" href="javascript:;"></a>
		</div>
		<div class="topH"></div>
		<p align="center"><span class="loginTxt <#if localLang??&&localLang=='en'>loginTxt_en</#if>">${common3_1}<br>${common3_2}</span></p>
		<div class="yqTxt <#if localLang??&&localLang=='en'>yqTxt_en</#if>">${common5_1}${common5_2}${common5_3}${common5_4}${common5_5}</div>
		<div class="hosRegister">
			<ul>
				<li>
					<input onblur="checkValue('phone',false)" type="tel" name="phone" maxlength="11" autocomplete="off" placeholder="${common6_1}" />
					<div class="errorMsg"></div>
				</li>
				<li>
					<input onblur="checkValue('password',false)" type="password" name="password" autocomplete="off" placeholder="${common18_2}" />
					<div class="errorMsg"></div>
					<span class="lookBtn"></span>
				</li>
				<li>
					<input type="text" id="valicode" name="valicode" placeholder="${common6_2}"  maxlength=4>
					<img class="codeImg" name="valicode" src="/login/validimg.html" onclick="this.src='/login/validimg.html?t=' + Math.random();" alt="${common6_5}" />
				</li>
			</ul>
			<p align="right"><a class="forgetLink" href="javascript:;" onclick="jumpRepassword()">${common13}</a></p>
			<div class="submitBox">
				<a class="toLogin borderJb" href="javascript:;" onclick="jumpEnroll()"><span>${common6_3}</span></a>
				<button type="button" onclick="doLogin()" class="registerBtn borderJb">${common2}</button>
				
			</div>
		</div>
		<ul class="hosTxtInfo">
			<li>
				<span class="num">01</span>
				<h3>${common20}</h3>
				<p>${common20_1}</p>
			</li>
			<li>
				<span class="num">02</span>
				<h3>${common21}</h3>
				<p>${common21_1}<br>${common21_2}<br>${common21_3}</p>
			</li>
			<li>
				<span class="num">03</span>
				<h3>${common22}</h3>
				<p>${common22_1}<br>${common22_2}<br>${common22_3}</p>
			</li>
		</ul>
		<div class="popNav homeNav">
			<div class="clickBg"></div>
			<div class="navList">
				<ul class="leftNav">
					<li><a href="javascript:;" onclick="jumpIndex()">${homepage_1_1}</a></li>
					<li><a href="javascript:;" onclick="downloadWhitePaper()">${common4}</a></li>
					<li><a href="javascript:;" onclick="jumpHomepage()">${homepage_1_2}</a></li>
					<li><a href="#copyTxt">${homepage_1_3}</a></li>
				</ul>
				<div class="lanNavBox">
					<div class="select">English</div>
					<div class="lanLink">
						<a href="javascript:;" onclick="switchLanguage('en')">English</a>
						<a href="javascript:;" onclick="switchLanguage('zh')">繁体中文</a>
					</ul>
				</div>
			</div>
		</div>		
		<script type="text/javascript">
			//按语言喜好重定向
			var storage = window.localStorage;
			if (!storage.getItem("localLang")){
				storage.setItem("localLang", 'en');
			}		
			var thisurl = window.location.href;
			if (thisurl.indexOf(storage.getItem("localLang")) < 0){
				window.location.href="/login/login.html?devtype=wap&lang=" + storage.getItem("localLang");
			}	
			
			$('.hosRegister input').focus(function(){
				$(this).removeClass('errorInput').nextAll('.errorMsg').html('');
			});
			function doLogin(){
				/*if(!(checkValue('phone',false)  && checkValue('password',false))){
					return;
				}*/
				var storage = window.localStorage;
				var lang = storage.getItem("localLang") || 'zh';
				//console.log(lang);
				var form = new FormData();
		    	form.append("obj.phone", $("input[name='phone']").val());
		    	form.append("obj.password", $("input[name='password']").val());
		    	form.append("obj.valicode", $("input[name='valicode']").val());
		    	$.ajax({
		    		url: "/login/validate",
		    	    type: "post",
		    	    data: form,
		    	    processData: false,
		    	    contentType: false,
		    	    success: function(data){
		    	    	data=JSON.parse(data);
		    	    	if(data.errorCode == '0000'){
		    	    		location='/homepage/index.html?devtype=wap';
		    	    	}else{
		    	    		console.log(data.errorCode);
			        	 	if(data.errorCode == '9998'){
			        	 		errorMsg = '${common30}';
			        	 	}else if(data.errorCode == '9997'){
			        	 		errorMsg = '${common31}';
			        	 	}else if(data.errorCode == '9996'){
			        	 		errorMsg = '${common32}';
			        	 	}else if(data.errorCode == '9995'){
			        	 		errorMsg = '${common33}';
			        	 	}else if(data.errorCode == '9994'){
			        	 		errorMsg = '${common34}';
			        	 	}else if(data.errorCode == '9993'){
			        	 		errorMsg = '${common35}';
			        	 	}else if(data.errorCode == '9992'){
			        	 		errorMsg = '${common36}';
			        	 	}else if(data.errorCode == '9991'){
			        	 		errorMsg = '${common37}';
			        	 	}else if(data.errorCode == '9990'){
			        	 		errorMsg = '${common38}';
			        	 	}else if(data.errorCode == '9989'){
			        	 		errorMsg = '${common39}';
			        	 	}else if(data.errorCode == '9988'){
			        	 		errorMsg = '${common18_1}';
			        	 	}else if(data.errorCode == '9987'){
			        	 		errorMsg = '${common14}';
			        	 	}							
							ck.msg({'content': errorMsg,'time':3,'shade':false,'styleName':'msgWrite'});
						}		    	    		
		    	    }
		    	});				
				//console.log('提交成功！');
			}
			$('.lookBtn').click(function(){
				if($(this).hasClass('ear')){
					$(this).removeClass('ear');
					$(this).prevAll('input').attr('type','password');
				}else{
					$(this).addClass('ear');
					$(this).prevAll('input').attr('type','text');
				}
			});
			
			function jumpLogin(){
				var storage = window.localStorage;
				var lang = storage.getItem("localLang") || 'zh';
				window.location.href="/login/login.html?devtype=wap&lang="+lang;
			}			
			
			function jumpEnroll(){
				var storage = window.localStorage;
				var lang = storage.getItem("localLang") || 'zh';
				window.location.href="/enroll/index.html?devtype=wap&lang="+lang;
			}	
			function jumpRepassword(){
				var storage = window.localStorage;
				var lang = storage.getItem("localLang") || 'zh';
				window.location.href="/login/repassword.html?devtype=wap&lang="+lang;
			}	
			
			function switchLanguage(language){
				var storage = window.localStorage;
				storage.setItem("localLang", language);					
				window.location.href="/login/login.html?devtype=wap&lang=" + language ;
			}			
		</script>
		
	</body>
</html>
