<!DOCTYPE html>
<html>
	<head>
		<#include "/wap/common/top.html">
		<title>EOSHOS</title>
	</head>
	<body>
		<div class="hosTop">
			<a class="logo" href="javascript:;" onclick="jumpLogin()"></a>
			<a class="rightBtn" href="javascript:;"></a>
		</div>
		<div class="topH"></div>
		<p align="center"><span class="loginTxt <#if localLang??&&localLang=='en'>loginTxt_en</#if>">${common3_1}<br>${common3_2}</span></p>
		<div class="yqTxt">${common5_1}${common5_2}${common5_3}${common5_4}${common5_5}</div>
		<div class="hosRegister">
			<form action="" id="loginForm">
			<ul>
				<li>
					<input onblur="checkValue('phone',false)" type="tel" id="phone" name="phone" maxlength="11" autocomplete="off" placeholder="${common6_1}" />
					<div class="errorMsg"></div>
				</li>
				<li>
					<input onblur="checkValue('randomcode',false)" type="text" id="randomcode" name="randomcode" maxlength="5" autocomplete="off" placeholder="${common6_2}" />
					<div class="errorMsg"></div>
					<!-- <img class="codeImg" src="/static-wap/images/codeImg.png" /> -->
					<img class="codeImg"  name="valicode" src="/login/validimg.html" onclick="this.src='/login/validimg.html?t=' + Math.random();" alt="${common6_5}" />
				</li>
				<li>
					<input onblur="checkValue('phonecode',false)" type="tel" id="phonecode" name="phonecode" maxlength="4" autocomplete="off" placeholder="${common6_4}" />
					<div class="errorMsg"></div>
					<button onclick="getCodeFn(this)" type="button" class="getCode">${common8}</button>
				</li>
				<li>
					<input onblur="checkValue('password',false)" type="password" id="password" name="password" autocomplete="off" placeholder="${common7}" />
					<div class="errorMsg"></div>
					<span class="lookBtn"></span>
				</li>
			</ul>
			</form>
			<div class="submitBox">
				<a class="toLogin borderJb" href="javascript:;" onclick="jumpEroll()"><span>${common10}</span></a>
				<button type="button" onclick="doRester()" class="registerBtn borderJb">${common42}</button>
			</div>
		</div>
		<ul class="hosTxtInfo">
			<li>
				<span class="num">01</span>
				<h3>${common20}</h3>
				<p>${common20_1}</p>
			</li>
			<li>
				<span class="num">02</span>
				<h3>${common21}</h3>
				<p>${common21_1}<br>${common21_2}<br>${common21_3}</p>
			</li>
			<li>
				<span class="num">03</span>
				<h3>${common22}</h3>
				<p>${common22_1}<br>${common22_2}<br>${common22_3}</p>
			</li>
		</ul>
		<div class="popNav homeNav">
			<div class="clickBg"></div>
			<div class="navList">
				<ul class="leftNav">
					<li><a href="javascript:;" onclick="jumpIndex()">${homepage_1_1}</a></li>
					<li><a href="javascript:;" onclick="downloadWhitePaper()">${common4}</a></li>
					<li><a href="javascript:;" onclick="jumpHomepage()">${homepage_1_2}</a></li>
					<li><a href="#copyTxt">${homepage_1_3}</a></li>
				</ul>
				<div class="lanNavBox">
					<div class="select">English</div>
					<div class="lanLink">
						<a href="javascript:;" onclick="switchLanguage('en')">English</a>
						<a href="javascript:;" onclick="switchLanguage('zh')">繁体中文</a>
					</ul>
				</div>
			</div>
		</div>		
		<script type="text/javascript">
			//按语言喜好重定向
			var storage = window.localStorage;
			if (!storage.getItem("localLang")){
				storage.setItem("localLang", 'en');
			}		
			var thisurl = window.location.href;
			if (thisurl.indexOf(storage.getItem("localLang")) < 0){
				window.location.href="/login/repassword.html?devtype=wap&lang=" + storage.getItem("localLang");
			}
			
			$('.hosRegister input').focus(function(){
				$(this).removeClass('errorInput').nextAll('.errorMsg').html('');
			});
			function getCodeFn(obj){
				if(!(checkValue('phone',true) && checkValue('randomcode',true))){
					return;
				}
				
				getpass();//取短信验证码
				
				var countDown = 60;
				$(obj).prop('disabled',true)
				$(obj).text(countDown + '${common17}');
				var timer = setInterval(function() {
					countDown--;
					if (countDown) {
						$(obj).text(countDown + '${common17}');
					} else {
						clearInterval(timer);
						$(obj).text('${common17_1}');
						$(obj).prop('disabled',false);
					}
				}, 1000);
			}
			function doRester(){
				/*if(!(checkValue('phone',true) && checkValue('randomcode',true) && checkValue('phonecode',true) && checkValue('password',true))){
					return;
				}*/
				var form = new FormData()
				form.append("valicode", $('#randomcode').val());
				form.append("hosUser.phone", $('#phone').val());
				form.append("hosUser.phoneValidationCode", $('#phonecode').val());
				form.append("hosUser.password", $('#password').val());
				console.log(form);

				$.ajax({
					url : "/login/password",
					type : "post",
					data : form,
					processData : false,
					contentType : false,
					success : function(data) {
						console.log(data);
						data = JSON.parse(data);
						 if(data.errorCode == '0000'){
	    	        		//$(".tips").html("修改密码成功!");
	    	        		jumpLogin();
	    	        	 }else{
	    	        		 ck.msg({'content':'!{common42}','time':3,'shade':false,'styleName':'msgWrite'});
	    	        	 }
					}
				});				
				//console.log('提交成功！');
			}
			$('.lookBtn').click(function(){
				if($(this).hasClass('ear')){
					$(this).removeClass('ear');
					$(this).prevAll('input').attr('type','password');
				}else{
					$(this).addClass('ear');
					$(this).prevAll('input').attr('type','text');
				}
			});
			
			function jumpLogin(){
				var storage = window.localStorage;
				var lang = storage.getItem("localLang") || 'zh';
				window.location.href="/login/login.html?devtype=wap&lang="+lang;
			}			
			
			function jumpEnroll(){
				var storage = window.localStorage;
				var lang = storage.getItem("localLang") || 'zh';
				window.location.href="/enroll/index.html?devtype=wap&lang="+lang;
			}				
		</script>
		
	</body>
</html>
