<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<#include "../common.html"/>
		<title>实名认证</title>
	</head>
	<body>
		<input hidden="hidden" type="text" id="userId" name="userId" value="${userId}">
		
		<div class="rmsTc">
			<form id="addForm" class="rmsTcForm">
				<div class="iframeForm">
					<ul class="formOne">	
						<li class="con">
							<div class="title"><span>姓名</span></div>
							<div class="dataVal">${realName}</div>
						</li>
					</ul>	
					<ul class="formOne">	
						<li class="con">
							<div class="title"><span>身份证号</span></div>
							<div class="dataVal">${cardId}</div>
						</li>
					</ul>				
					<ul class="formOne">	
						<li class="con">
							<div class="title"><span>身份证照片</span></div>
							<div id="showImg" class="upfilePic">
								<img modal="zoomImg" alt="身份证正面" src="https://eoshos.io/auth/getimage?fileName=${cardId}a"/>
								<img modal="zoomImg" alt="身份证反面" src="https://eoshos.io/auth/getimage?fileName=${cardId}b"/>
							</div>	
						</li>
					</ul>
				</div>
			</form>	
		</div>
		<script type="text/javascript">

		</script>
	</body>
</html>
