<html>
<head>
    <meta charset="UTF-8" />
    <title>充值记录</title>
    <#include "../common.html"/>
</head>
<body  >
	<input hidden="hidden" type="text" id="userId" name="userId" value="${userId}">
	<div class="tableBox" >
		<table id="table1" 
			data-single-select="true"
	      	data-toggle="table"
	      	data-url="/deposit/listtrade"
	      	data-height="480"
	      	data-side-pagination="server"
	      	data-pagination="true"
	      	data-page-list="[10, 25, 50, 100, ALL]"
	      	data-query-params="queryParams"
	    	data-query-params-type="limit">
	   		<thead>
	   			<tr>
	   				<!--th  data-checkbox="true"></th-->
			        <th data-width="10%" data-field="coinNumber">金额</th>
			        <th data-width="25%" data-field="gmtCreatedStr">充值时间</th>
			        <th data-width="30%" data-field="fullFileName">图片名称</th>
			        <th data-width="35%" data-field="notes">备注</th>
	   			</tr>
	   		</thead>
		</table>
	</div>			
</body>	
<script type="text/javascript">
		var $table1 = $('#table1');
		//pageInit();

		$(document).ready(function() {
			//reload();		
		});
		
		function reload() {
			$table1.bootstrapTable('refresh', {
				url: '/deposit/listtrade',
				silent: true,
				query: {
					"userId": $("[name='userId']").val().trim(),
				}
			});
					
		}
		
		function queryParams(params) {
		    var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
		        limit: params.limit,   //页面大小
		        offset: params.offset,  //页码
		        userId: $("[name='userId']").val().trim(),
		        sort: params.sort,  //排序列名
		        sortOrder: params.order//排位命令（desc，asc）
		    };
		    return temp;
		}
				
				
	</script>	
</html>
